<!-- inglês --> 

<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1 class="titulo">Editcs</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
        <h5><a href="http://www.posling.uff.br/images/EDITAL-POSLING-PNPD-capes-2016.pdf">
EDITAL PARA SELEÇÃO DE CANDIDATOS À BOLSA DE PÓS-DOUTORADO DO PROGRAMA NACIONAL DE PÓS-DOUTORADO (PNPD/CAPES)</a></h5>
        <h5><a  data-toggle="modal" data-target="#Modal">EDITAL BOLSA DOUTORADO SANDUÍCHE - CAPES PDSE 2017</a></h5>
        <h5><a href="http://www.posling.uff.br/images/Aditamento_1-2017_-_Prorroga%C3%A7%C3%A3o.pdf">
PRORROGAÇÃO NAS INSCRIÇÕES - EDITAL DE INGRESSO AO MESTRADO E AO DOUTORADO 2017</a></h5>
        <p>Novo período de inscrições até 10 de agosto de 2017!!</p>
        <h5><a href="http://www.posling.uff.br/images/Aditamento_3-2017_-_Vagas.pdf">
ADITAMENTO - NÚMERO DE VAGAS DO EDITAL DE INGRESSO AO MESTRADO E AO DOUTORADO 2017</a></h5>
        <h5><a href="http://www.posling.uff.br/images/Edital_2017-23-5_Linguagem.pdf">EDITAL DE INGRESSO AO MESTRADO E AO DOUTORADO 2017</a></h5>
        <p>Provas específicas e de língua estrangeira de anos anteriores estão disponibilizadas para cópia na xerox do Bloco B, sala 103, Instiuto de Letras, Gragoatá.</p>
        <h5><a href="http://www.posling.uff.br/images/EDITAL_COLE%C3%87%C3%83O_ENSAIOS-Retificado-2016.pdf">EDITAL COLEÇÃO ENSAIOS - LINGUAGEM 2016 - Retificado</a></h5>
        <h5><a href="http://www.posling.uff.br/images/Edital_Cole%C3%A7%C3%A3o_Ensaios_2015-2016.pdf">EDITAL COLEÇÃO ENSAIOS - LINGUAGEM 2015 E 2016</a></h5>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">CAPES PDSE 2017</h4>
      </div>
      <div class="modal-body">
        <p>Em atendimento ao que foi deliberado na reunião de colegiado de hoje, encaminhamos as instruções para as candidaturas para bolsa do Programa de Doutorado Sanduíche no Exterior (PDSE) de acordo com o Edital CAPES 19/2016, Edital já encaminhado por esta coordenação em julho, com as alterações dos itens 4.1.1; 5.5; 5.5.3, 5.6; 5.6.1; 5.6.5, também encaminhadas em agosto.</p>
        <p>Em consonância com o que foi decidido pelo Colegiado do PosLing, solicitamos que sejam entregues até o dia<strong> 26 de setembro </strong>, próxima segunda-feira, na secretaria da pós-graduação, sala 518 do Bloco C, até as 17 horas os seguintes documentos:
</p>
        <ol>
            <li>Currículo Lattes atualizado do candidato;</li>
            <li>Carta do orientador brasileiro, devidamente assinada e em papel timbrado da UFF, justificando a necessidade do estágio e demonstrando interação técnico-científica com o coorientador no exterior para o desenvolvimento das atividades propostas;</li>
            <li>Currículo resumido do coorientador no exterior, o qual deve ter produção científica e /ou tecnológica compatível e a titulação mínima de doutorado;</li>
            <li>Termo de seleção de candidatura ao PDSE, conforme modelo disponível no Edital da CAPES, na página da Agência;</li>
            <li>Plano de estudos em português, com no máximo 15 páginas, com cronograma do plano de atividades, contemplando o disposto no item 5.4.3, parágrafo IX do Edital supracitado.</li>
            <li>Aprovação em exame de qualificação;</li>  
            <li>Prazo previsto para conclusão do doutorado;</li>
            <li>Currículo do candidato.</li>
        </ol>
        <p>Esclarecemos que o colegiado decidiu acatar os critérios estabelecidos pela comissão de Bolsas do programa, que nortearão os trabalhos da comissão que procederá a seleção dos candidatos. São eles:</p>
        <p><strong>I - em relação ao candidato</strong></p>
        <ol>
            <li>Aprovação em exame de qualificação;</li>
            <li>Prazo previsto para conclusão do doutorado;</li>
            <li>Currículo do candidato.</li>
        </ol>    
         <p><strong>II - em relação à Instituição de destino:</strong></p>
        <ol>
            <li>Cooperação acadêmica com o PPG em Estudos de Linguagem;</li>
            <li>Currículo do supervisor estrangeiro.</li>

        </ol>    
         <p><a href="http://www.capes.gov.br/bolsas/bolsas-no-exterior/programa-de-doutorado-sanduiche-no-exterior-pdse"> Link para o edital no site da CAPES</a> </p>
      </div>
      
      </div>
    </div><!-- inicio modal-->
    </div>
    </div>

        
        </div>
        
    </div>
</div>
