<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Curriculum</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
<p>MEC (Ministry of Education and Culture) - Universidade Federal Fluminense (Fluminense Federal University)</p>
<br>
<br> 
<p>RESOLUTION N°</p> 
<br>
<p>SYLLABUS: Establishes the curriculum for the Graduate Program in Language Studies, at the Masters and Doctoral levels.</p>
<br>
<br> 
<p>The BOARD OF EDUCATION AND RESEARCH of the FLUMINENSE FEDERAL UNIVERSITY, exercising its legal attributions and considering what is specified in process nº                       ,</p>
<br>
<p>DECIDES:<br>
Art. 1 - The curriculum of the Graduate Program in Language Studies, at the Master’s and Doctoral levels, includes the courses, credits and hours listed below.</p>
 
<p> 
Required Courses in the Common Core</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Courses</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>Theoretical-methodological foundations of language studies</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Supervised activities</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td>2</td>
        <td colspan= 1></td>
        <td>90</td>
      </tr>
      <tr>
        <td>Supervised research</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>180</td>
      </tr>
    </table>
  <p>Elective Courses in Specific Areas<br>
Line of Research 1 - Linguistic Theory and Analysis
</p>
        <table class="table table-responsive table-bordered">
      <tr>
        <th>Courses</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>Semantic-pragmatic aspects of language</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Studies in grammar</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Language in use</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Language and cognition</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Line of research 2 - Text Theories, Speech and Interaction</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Courses</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>Discourse analysis</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Interactional discourse analysis</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiolinguistics</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiotics</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Linha 3 – História, política e contato linguístico</p>
    <table class="table table-responsive table-bordered">
      <tr>
 <th>Courses</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>Languages in contact</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>History of linguistic ideas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Historiography of linguistics</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Language policies</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
    <p>Art. 2 - In the Masters program, the student must attend two of the required courses in the Common Core, Theoretical-methodological Foundations of Language Studies and Supervised Activities, and three courses in their Specific Areas, one of which must Line of Research.
    </p>
    <br>
    <p>Art. 3 – In the Masters program, this curriculum is complemented by the defense of a thesis project, to which will be assigned two credits pertaining to supervised work, corresponding to ninety (90) course hours, as well as a Masters thesis, to be argued by an examination board, to which will be awarded eight (08) credits pertaining to supervised work, corresponding to three hundred and sixty (360) course hours. The Program must be completed timely in seven hundred eighty (780) course hours, corresponding to twenty-eight (28) credits, which shall include the following activities:</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Activities</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Total</th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>2 Required Courses</td>
        <td>4</td>
        <td>2</td>
        <td colspan = 1></td>
        <td>6</td>
        <td>150</td>
      </tr>
      <tr>
        <td>1 Elective Course in the Line of  Research corresponding to the Research Project</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>Elective Courses to be attended among those offered by the by CAPES accredited Graduate Programs in Greater Rio</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Thesis Project</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>2</td>
        <td>2</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Thesis </td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>16</td>
        <td>2</td>
        <td>10</td>
        <td>28</td>
        <td>780</td>
      </tr>


    </table>    
    <p>
     Art. 4 - In the Doctoral Program, the student must attend two required Supervised Activities Courses and one Supervised Research Course, both belonging to the Common Core, and three courses in his/her Specific Area, one of which necessarily in his/her Line of Research. In the Doctoral Program, the Theoretical-methodological Foundations of Language Studies course may be attended as an elective course.
    </p>    
    <p>Art. 5 - In the Doctoral Program, this curriculum is complemented by the defense of a Qualifying Examination, to which will be awarded six (06) supervised work credits, corresponding to two hundred and seventy (270) course hours, as well as a Dissertation, to be argued by an examination board, to which will be awarded sixteen (16) supervised work credits, corresponding to seven hundred and twenty (720) course hours. The Doctoral Program must be completed timely in  one thousand, five hundred and thirty (1,530) course hours / class, corresponding to forty-eight (48) credits, which shall include the following activities:</p>    
    
        <table class="table table-responsive table-bordered">
      <tr>
        <th>Activities</th>
        <th>Centers the Course is linked to</th>
        <th>Credits T(theory)</th>
        <th>Credits P(pratice) ou TP(theory-pratice)</th>
        <th>Credits ES(Supervised Traineeship) ou TO(Guided Work) </th>
        <th>Total</th>
        <th>Number of Hours</th>
      </tr>
      <tr>
        <td>3 Required Courses</td>
        <td>4</td>
        <td>4</td>
        <td colspan = 1></td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>1 Elective Course in the Line of  Research corresponding to the Research Project</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>2 Elective Courses to be attended among those offered by the by CAPES accredited Graduate Programs in Greater Rio.	8			8	120</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Qualifying examination</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>6</td>
        <td>6</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Dissertation</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>16</td>
        <td>16</td>
        <td>720</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>16</td>
        <td>4</td>
        <td>22</td>
        <td>42</td>
        <td>1530</td>
      </tr>


    </table>       
    
    <p>Article 6 - The Programs will have the following duration in months:</p>
    <p>Masters Program:</p>
    <ul>
        <li>Minimum: twelve (12) months</li>
        <li>Maximum: thirty (30) months</li>
    </ul>
    <p>Doctoral Program:

    </p>
    <ul>
        <li>Minimum  twenty four (24) months</li>
        <li>Maximum: fifty-four (54) months </li>
        <br>
        <li>§ 1 In the maximum duration of the Program is included the continuance or postponement period to which students are entitled. </li>
        <li>§ 2. Should there any difficulties arise in completing the thesis or dissertation in a timely manner, the deadlines established in accordance with this article for completing of the Program may exceptionally be extended for one (01) additional semester, as established in the Program’s Bylaws.</li>
    
    </ul>
    
    <p>Art. 7 This Resolution shall become effective on the date of its approval by this Board.</p>
    
        </div>
    </div>    
    
</div>