<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Forms</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <h3>Click here to download the desired form </h3>
            <br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_de_Aproveitamento_de_crdito_Linguagem.doc '>Aproveitamento de créditos(Using credits obtained elsewhere)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Encaminhamento_trabalho_final_2015.doc '>Encaminhamento de trabalho final(Handing in final paper)</a><br>
            <a href='http://www.posling.uff.br/images/stories/forms/Avaliacao_Estagio_Docencia-2015.doc '>Estágio de Docência - Avaliação(Teacher Training - Evaluation)</a><br>
            <a href='http://www.posling.uff.br/images/stories/forms/Inscricao_Estagio_docencia-2015.doc '>Estágio de Docência - Inscrição(Teacher Training - Evaluation)</a><br>
            <a href='http://www.posling.uff.br/images/Ficha-inscricao-doutorado-novo.docx '>Ficha inscrição Doutorado(Registration Form - Doctoral Program)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Ficha-inscricao-mestrado-novo.docx'>Ficha inscrição Mestrado(Registration Form - Masters Program)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_frequencia_em_defesas.doc'>Frequência em defesas(Attendance to thesis and dissertation defenses)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_frequencia_em_eventos.doc'>Frequência em eventos acadêmicos(Attendance to academic events)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Indicacao-banca-defesa-2015.doc '>Indicação de banca - Defesa(Appointment of Defense Board Members)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Indicao_de_Banca-2015.doc'>Indicação de banca - Qualificação(Appointment of Qualification Board Members)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_inscrio_em_disciplinas_Linguagem.doc'>Inscrição em disciplinas(Registration in courses)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Inscricao_credito_avulso-2015.doc'>Inscrição em disciplina - Crédito avulso (Registration in courses – extra credits)</a><br>
            <a href='http://www.posling.uff.br/images/MATRICULA-FICHA_CADASTRAL.doc'>Matrícula(Registration)</a><br>
            <a href='http://www.posling.uff.br/images/Pedido_coorientador_Linguagem.doc'>Pedido de coorientador(Request for Co-supervision)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_dispensa_de_disciplinas_-_Linguagem.doc'>Pedido de dispensa de disciplinas(Request for Co-supervision)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_orientador_Linguagem.doc'>Pedido de orientador(Request for Supervisor)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Relatorio_Atividades_Supervisionadas-2015.doc'>Relatório de atividades supervisionadas(Supervised Activities Report)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Relatrio_Semestral_de_Bolsista_Linguagem-2015.doc'>Relatório semestral de bolsista(Scholarship grantee’s semestral report) </a><br>
            <a href='http://www.posling.uff.br/images/stories/Requerimento_padro.doc'>Requerimento padrão(Standard requirement)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Solicitao_de_Bolsa_Linguagem.doc'>Solicitação de bolsa(Grant application)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_hospedagem_e_passagem_de_alunos_Linguagem.doc'>Solicitação de hospedagem e passagem - Alunos(Application for accomodation and transportation fees – Students) </a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_Solicitao_de_Passagem.doc'>Solicitação de passagens - Docentes(Application for transportation fees – Faculty Members)</a><br>
            <a href='http://www.posling.uff.br/images/Termo_de_compromisso_do_bolsista-2015.pdf'>Termo de compromisso de bolsista(Scholarship grantee committment term)</a><br>
            <a href='http://www.posling.uff.br/images/Termo_de_Compromisso_-_Candidato_Linguagem.doc'>Termo de compromisso - Documentos(Committment term - Documents)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Trancamento_de_disciplinas_-_Linguagem.doc'>Trancamento de disciplinas(Course cancellation)</a><br>
            <a href='http://www.posling.uff.br/images/stories/Trancamento_de_perodo.doc'>Trancamento de período(Semester cancellation)</a><br>
        </div>
    </div>
</div>