<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Legislación </h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <p><strong>Decisiones aprobadas por el Colegiado: </strong></p>
            
           <!-- não tem tradução para o conteúdo abaixo -->   
        <a href='http://www.posling.uff.br/images/Credenciamento-docentes-2015.pdf '>(Re)acreditación de docentes </a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/creditoavulso.pdf '>Gestión de crédito individual </a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/posdoutorado.pdf '>Pasantía de posdoctorado</a>
    <br>    <a href='http://www.posling.uff.br/images/Resolu%C3%A7%C3%A3o-Bolsas-Final-2015.pdf '>Concesión de becas - Resolución 01/2015  </a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/atividadesacademicas.pdf '>Actividades académicas de becarios </a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/atividadesupervisionadas.pdf '>Asignatura “Actividades supervisadas”</a><br>
        </div>
    </div>
</div>
