<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Legislation</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <p><strong>Decisions approved by the Administrative Board:</strong></p>
            
           <!-- não tem tradução para o conteúdo abaixo -->   
        <a href='http://www.posling.uff.br/images/Credenciamento-docentes-2015.pdf '>(Re)credenciamento de docentes - Decisão 68/2015</a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/creditoavulso.pdf '>Obtenção de crédito avulso</a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/posdoutorado.pdf '>Estágio de pós-doutoramento</a>
    <br>    <a href='http://www.posling.uff.br/images/Resolu%C3%A7%C3%A3o-Bolsas-Final-2015.pdf '>Concessão de bolsas - Resolução 01/2015 </a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/atividadesacademicas.pdf '>Atividades acadêmicas de bolsistas</a>
    <br>    <a href='http://www.posling.uff.br/images/stories/artigos/atividadesupervisionadas.pdf '>Disciplina "Atividades supervisionadas"</a><br>
        </div>
    </div>
</div>
