<div class="container-fluid cont-estatico">
	<div class="container-fluid ">
		<h1>Legislação</h1>
	</div>
	<div class="container-fluid">
		<div class="col-md-10 cont-estatico-reg">
		</div>
	</div>
</div>
