<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Timetable</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <h3><a href="http://www.posling.uff.br/images/Quadro_de_horários-Linguagem-2016.2.pdf" >Schedule of the second semester of 2016</span></a></h3>
        <p><strong>Common core</strong></p>
        
        <a href='http://www.posling.uff.br/images/Fundamentos-obrigatoria-Prof._Silvia.pdf '>Theoretical-methodological foundations of language studies</a><br>
        <br> 
        <br>
        <p>Line 1</p>
        
        <a href='http://www.posling.uff.br/images/Linha1-Edila.pdf '>Edila Vianna da Silva</a><br>
        <a href='http://www.posling.uff.br/images/Linha1-Eduardo_Kenedy_e_Luciana_Sanchez.pdf '>Eduardo Kenedy</a><br>
        <a href='http://www.posling.uff.br/images/Linha1-Paulo_Correa.pdf '>Paulo Pinheiro Correa</a><br>
        <a href='http://www.posling.uff.br/images/Linha1-Solange_Vereza.pdf '>Solange Coelho Vereza</a><br>
        <br> 
        <p>Line 2</p>
        <a href='http://www.posling.uff.br/images/Linha2-Beatriz_Feres.pdf '>Beatriz dos Santos Feres</a><br>
        <a href='http://www.posling.uff.br/images/Linha2-Jose_Carlos_Goncalves.pdf '>José Carlos Gonçalves</a><br>
        <a href='http://www.posling.uff.br/images/Linha2-lucia_teixeira.pdf '>Lucia Teixeira</a><br>
        <a href='http://www.posling.uff.br/images/Linha2-Luciana_Freitas.pdf '>Luciana Maria Almeida de Freitas</a><br>
        <a href='http://www.posling.uff.br/images/Linha2-Patricia_Ferreira_Neves_Ribeiro.pdf '>Patrícia Ferreira Neves Ribeiro</a><br>
        <a href='http://www.posling.uff.br/images/Linha2-Silmara_e_Vanise.pdf '>Silmara Dela Silva e Vanise Medeiros</a><br>
        <br>
        <p>Line 3</p>
        <a href='http://www.posling.uff.br/images/Linha3-DANTE_LUCCHESI.pdf '>Dante Lucchesi</a><br>
        <a href='http://www.posling.uff.br/images/Linha3-Joel.pdf '>Joel Austin Windle</a><br>
        <a href='http://www.posling.uff.br/images/Linha3-Ricardo_Cavaliere.pdf '>Ricardo Cavaliere</a><br>
        <a href='http://www.posling.uff.br/images/Linha3-Telma.pdf '>Telma Pereira</a><br>
        <br><br><br>
        
        <h3><a href='http://www.posling.uff.br/images/Quadro_de_hor%C3%A1rios_1-16_Linguagem-final.pdf '>See here the timesheet of the first semester of 2016</a><br></h3>
        <p><strong>Common Core</strong></p>
        <a href='http://www.posling.uff.br/images/Fundamentos.pdf '>Theoretical-methodological foundations of language studies</a><br>
        <br>
        <br>
        <p>Line 1</p>
        <a href='http://www.posling.uff.br/images/Ivo_Ros%C3%A1rio.pdf '>Ivo da Costa do Rosário</a><br>
        <a href='http://www.posling.uff.br/images/Jussara_Abra%C3%A7ado.pdf '>Jussara Abraçado</a><br>
        <a href='http://www.posling.uff.br/images/Nilza_Barrozo.pdf '>Nilza Barrozo Dias</a><br>
        <br>
        <p>Line 2</p>
        <a href='http://www.posling.uff.br/images/Bethania_Mariani.pdf '>Bethania Mariani</a><br>
        <a href='http://www.posling.uff.br/images/Del_Carmen.pdf '>Maria Del Carmen Daher</a><br>
        <a href='http://www.posling.uff.br/images/Renata_Mancini.pdf '>Renata Mancini</a><br>
        <a href='http://www.posling.uff.br/images/Rosane_Monnerat.pdf '>Rosane Monnerat</a><br>
        <a href='http://www.posling.uff.br/images/Silvia_Maria_de_Sousa.pdf '>Silvia Maria de Sousa</a><br>
        <br>
        <p>Linha 3</p>
        <a href='http://www.posling.uff.br/images/M%C3%B4nica_Savedra_e_Konstanze_Jungbluth.pdf '>Konstanze Jungbluth e Mônica Savedra</a><br>
        <a href='http://www.posling.uff.br/images/Leonardo_Kaltner.pdf '>Leonardo Ferreira Kaltner</a><br>
        <a href='http://www.posling.uff.br/images/Xo%C3%A1n_Lagares_Marcos_Bagno.pdf '>Xoán Lagares e Marcos Bagno</a><br>

        
        </div>
    </div>
</div>