<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>About Us</h1>
    </div>
     <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <h4>Welcome to the website of the Graduate Program in Language Studies</h4>
            <p><strong>Year started:</strong> 2010</p>
            <p><strong>CAPES evaluation grade:</strong> 5</p>
            <p><strong>Coordinator:</strong> Profa. Dra. Mônica Maria Guimarães Savedra</p>
            <p><strong>Deputy Coordinator:</strong> Profa. Dra. Silmara Cristina Dela da Silva</p>
            <h4>History and Objectives</h4>
            <p>The Graduate Program in Language Studies of UFF (Universidade Federal
            Fluminense – Fluminense Federal University) was authorized by CAPES 
            (Agency for the Further Education of Higher Education Personnel) in
            2009 and became operational in 2010. It originated from the former 
            Graduate Language and Literature Program, created in 1970, that was 
            split into two different graduate programs: Language Studies and Literary
            Studies.</p>
            <p>After having existed for about 40 years, awarding masters and doctoral
            degrees in the areas of Language Studies and Literary Studies, UFF’s 
            Graduate Language and Literature Program had about 300 students and 
            60 professors. In 2006, at its Administrative Board last annual meeting,
            announced its need to subdivide in order to create two different graduate
            programs, namely, Language Studies and Literary Studies, considering that
            the two areas within the parent program:</p>
            <p><strong>a)</strong>were well consolidated, had a scientific production
            level compatible with the requirements to establish a new program;</p>
            <p><strong>b)</strong> were balanced and fairly homogeneous, with similar
            numbers regarding professors (about 30), students (about 150) and scientific 
            production;</p>
            <p><strong>c)</strong> would be able to display a better defined academic
            profile for the Capes evaluation, hoping to have even better conditions
            for development and expansion, as is the case with other programs that
            focus on more specific lines of research; </p>
            </p><strong>d)</strong> would have greater relevance and political and
            academic representation both at the regional and at national and international
            levels.</p> 
            <p>Consequently, the proposed division met academic and administrative
            requirements, which allowed the two new programs to organize themselves
            in a more organic, specific and consistent manner.</p>
            <p>Over the three following years, the new programs’ Administrative 
            Board worked on revising their curricula, lines of research and courses
            in order to adjust their academic profile to the qualification and 
            experience of their faculty members and to cater for the research and
            training demands of our country’s tertiary education system.</p>
            <p>In 2007, the proposed division was approved by the Administrative
            Boards of the three centers where UFF’s Graduate Language and Literature
            Program was active: the Centre for General Studies, the Institute of 
            Letters and the Program itself. Based on their favorable decisions,
            the internal committees responsible for the two new programs drafted
            their Bylaws, the Proposal to be submitted for approval, and the Curricula
            for the Language Studies and Literary Studies Programs. In 2008, the 
            proposal was approved by UFF’s two highest levels of authority — the
            Board of Education and Research and the University Council. Early in 2009,
            the formal Proposal for the approval of the new Programs were submitted
            to CAPES. The new Programs, both with a CAPES evaluation grade of 5,
            were approved late in October 2009, and began operating fully in 2010.
            This epitomizes the consolidation of two major areas — Language and Literature,
            in terms of its faculty members and students, lines of research and 
            research projects, academic and technical production, in sum, the growth
            and maturity of a Program that would have reached 40 years of existence
            in 2010 with nationwide recognition, and that now continues divided 
            into two new programs.</p>
            <p>The Masters Degree of UFF’s Graduate Program in Language Studies 
            aims at training individuals to do research and to teach in the field
            of Language Studies, in the area of Linguistics, and who are able to
            perform competently primarily in the Southeast Region of Brazil and 
            to serve other regions of the nation as well as to continue their 
            academic education at graduate level.</p>
            <p>At the doctoral level, the Graduate Program in Language Studies aims
            at training individuals who can become autonomous, outstanding scientific
            researchers who can excel in higher education teaching, who are 
            committed to fostering the ability to seek different sources of 
            information and reflection and to promoting intellectual productivity
            beyond the classroom boundaries and beyond the core courses in the 
            Curriculum, in a permanent expansion of scientific knowledge in the 
            field of Language Studies, in the area of Linguistics.</p>
        </div>
    </div>
</div>
