<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @disciplinas3.texto %>
</p>

<%= link_to 'Edit', edit_disciplinas3_path(@disciplinas3) %> |
<%= link_to 'Back', disciplinas3s_path %>
