<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Curriculum</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
<p>MEC (Ministerio de Educación y Cultura) - UNIVERSIDAD FEDERAL FLUMINENSE<br>CONSEJO PARA LA ENSEÑANZA Y LA INVESTIGACIÓN </p>
<br>
<br> 
<p>RESOLUCIÓN N°</p> 
<br>
<p>SÍLABO: Establece el currículo del Programa de Posgrado en Estudios del Lenguaje, nivel Máster y Doctorado. </p>
<br>
<br> 
<p>EL CONSEJO PARA LA ENSEÑANZA Y LA INVESTIGACIÓN de la UNIVERSIDAD FEDERAL FLUMINENSE, en uso de sus atribuciones y considerando lo que consta en el proceso Nº                       ,</p>
<br>
<p>RESUELVE:<br>
Art. 1 - El currículo del Programa de Posgrado en Estudios del Lenguaje, nivel máster y doctorado, incluye las materias, créditos y carga horaria descritos a continuación. </p>
 
<p> 
Materias obligatorias del núcleo general </p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Materias</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Fundamentos teórico-metodológicos de los estudios en lenguaje</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Actividades supervisadas</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td>2</td>
        <td colspan= 1></td>
        <td>90</td>
      </tr>
      <tr>
        <td>Investigación orientada</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>180</td>
      </tr>
    </table>
  <p>Materias electivas en Áreas Específicas <br>
Línea de Investigación 1 - Teoría y Análisis Lingüístico 
</p>
        <table class="table table-responsive table-bordered">
      <tr>
      <tr>
        <th>Materias</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Aspectos semántico-pragmáticos del lenguaje</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Estudios en gramática</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Lengua en uso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Lenguaje y Cognición </td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Línea de investigación 2 - Teorías del texto, del discurso y de la interacción </p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Materias</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Análisis del discurso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Análisis interactivo del discurso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiolingüística</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiótica</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Línea de investigación 3 - Historia, política y contacto lingüístico </p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Materias</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Contacto de lenguas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Historia de las ideas lingüísticas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Historiografía de la lingüística</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Políticas lingüísticas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
    <p>Art. 2º - En el programa de Máster, el alumno deberá cursar las dos materias obligatorias del núcleo general: Fundamentos teórico-metodológicos de los estudios del lenguaje y actividades supervisadas, y tres materias de las áreas específicas, perteneciendo una de ellas obligatoriamente a su línea de investigación. 
    </p>
    <br>
    <p>Art. 3º - En el programa de máster, el currículo es complementado por la defensa de un proyecto de disertación, al cual le serán atribuidos 2 créditos de trabajo orientado, correspondientes a 90 (noventa) horas/clase, al igual que por una disertación, seguida de la argumentación por parte de la terna examinadora, a la cual le serán atribuidas 8 créditos de trabajo orientado, correspondientes a 360 (trescientas sesenta) horas/clase. Deberá ser cumplido en un tiempo hábil de 780 (setecientas ochenta) horas/clase, correspondientes a 28 (veintiocho) créditos, cumpliendo las siguientes actividades: </p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Actividades</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Total</th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>2 Materias Obligatorias</td>
        <td>4</td>
        <td>2</td>
        <td colspan = 1></td>
        <td>6</td>
        <td>150</td>
      </tr>
      <tr>
        <td>1 Materia optativa de la Línea de Investigación correspondiente al Proyecto de Investigación </td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>2 Materias electivas que serán cursadas de entre las ofrecidas por los Programas de Posgrado de El Grande Río, reconocidos por CAPES</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Proyecto de Disertación</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>2</td>
        <td>2</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Disertación </td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>16</td>
        <td>2</td>
        <td>10</td>
        <td>28</td>
        <td>780</td>
      </tr>


    </table>    
    <p>
     Art. 4º - En el programa de Doctorado, el alumno deberá cursar dos asignaturas obligatorias de actividades supervisadas y una de investigación orientada, ambas del núcleo general, y tres disciplinas de las áreas específicas, perteneciendo una de ellas obligatoriamente a su línea de investigación. En el Doctorado, la materia “Fundamentos Teórico-Metodológicos” de los estudios en lenguaje podrá ser cursada como electiva. 
    </p>    
    <p>Art. 5º - En el programa de Doctorado, el currículo es complementado por la defensa de un examen clasificatorio, al cual le serán atribuidos 6 créditos de trabajo orientado, correspondientes a 270 (doscientos setenta) horas/clase, al igual que por una tesis, seguida por la argumentación por una terna examinadora, a la cual le serán atribuidos 16 créditos de trabajo orientado, correspondientes a 720 (setecientos veinte) horas/clase. Deberá ser cumplido en un tiempo hábil de 1530 (mil quinientos treinta) horas/clase, correspondientes a 48 (cuarenta y ocho) créditos, comprendiendo las siguientes actividades: </p>    
    
        <table class="table table-responsive table-bordered">
      <tr>
        <th>Actividades</th>
        <th>Órganos vinculados a la materia</th>
        <th>Créditos T (Teoría)</th>
        <th>Créditos P o TP(Práctico o Teórico-Práctico)</th>
        <th>Créditos ES o TO(Pasantía supervisada o Trabajo Orientado) </th>
        <th>Total</th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>3 Materias obligatorias</td>
        <td>4</td>
        <td>4</td>
        <td colspan = 1></td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>1 Materia optativa de la línea de investigación correspondiente al Proyecto de Investigación</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>2 Materias electivas que serán cursadas de entre las ofrecidas por los Programas de Posgrado de El Grande Río, reconocidos por CAPES</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Examen clasificatorio</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>6</td>
        <td>6</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Tesis</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>16</td>
        <td>16</td>
        <td>720</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>16</td>
        <td>4</td>
        <td>22</td>
        <td>42</td>
        <td>1530</td>
      </tr>


    </table>       
    
    <p>Art. 6º - Los programas tendrán la siguiente duración, en meses: </p>
    <p>Programa de máster: </p>
    <ul>
        <li>Mínima: 12 (doce) meses</li>
        <li>Máxima: 30 (treinta) meses</li>
    </ul>
    <p>Programa de doctorado: 


    </p>
    <ul>
        <li>Mínima: 24 (veinticuatro) meses</li>
        <li>a)	máxima: 54 (cincuenta y cuatro) meses </li>
        <br>
        <li>§ 1. En la duración máxima del Programa está incluida el período de bloqueo o prórroga al cual los alumnos tienen derecho. </li>
        <li>§ 2. En caso de presentarse dificultad en la realización del trabajo final en el tiempo hábil, el plazo máximo establecido por este artículo para la conclusión del curso podrá ser prorrogado excepcionalmente por un semestre adicional, conforme lo prescribe el Reglamento del Programa. </li>
    
    </ul>
    
    <p>Art. 7 La presente resolución entrará en vigor en la fecha de aprobación por este Consejo. </p>
    
        </div>
    </div>    
    
</div>