<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Formularios</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <h3>Haga clic para descargar el formulario que desee  </h3>
            <br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_de_Aproveitamento_de_crdito_Linguagem.doc '>Incorporación de créditos (obtenidos en otras instituciones)  </a><br>
            <a href='http://www.posling.uff.br/images/stories/Encaminhamento_trabalho_final_2015.doc '>Entrega de trabajo final</a><br>
            <a href='http://www.posling.uff.br/images/stories/forms/Avaliacao_Estagio_Docencia-2015.doc '>Pasantía docente - Evaluación </a><br>
            <a href='http://www.posling.uff.br/images/stories/forms/Inscricao_Estagio_docencia-2015.doc '>Pasantía docente - Inscripción </a><br>
            <a href='http://www.posling.uff.br/images/Ficha-inscricao-doutorado-novo.docx '>Formulario de inscripción - Doctorado </a><br>
            <a href='http://www.posling.uff.br/images/stories/Ficha-inscricao-mestrado-novo.docx'>Ficha de inscripción - Máster </a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_frequencia_em_defesas.doc'>Asistencia a defensas de tesis y disertación </a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_frequencia_em_eventos.doc'>Asistencia a eventos académicos </a><br>
            <a href='http://www.posling.uff.br/images/stories/Indicacao-banca-defesa-2015.doc '>Nombramiento de terna examinadora - Defensa </a><br>
            <a href='http://www.posling.uff.br/images/stories/Indicao_de_Banca-2015.doc'>Nombramiento de terna examinadora - Clasificación </a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_inscrio_em_disciplinas_Linguagem.doc'>Inscripción en asignaturas </a><br>
            <a href='http://www.posling.uff.br/images/stories/Inscricao_credito_avulso-2015.doc'>Inscripción en asignaturas - Crédito individual </a><br>
            <a href='http://www.posling.uff.br/images/Pedido_coorientador_Linguagem.doc'>Solicitud de co-orientador </a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_dispensa_de_disciplinas_-_Linguagem.doc'>Solicitud para eximir asignatura </a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_orientador_Linguagem.doc'>Solicitud de orientador </a><br>
            <a href='http://www.posling.uff.br/images/stories/Relatorio_Atividades_Supervisionadas-2015.doc'>Reporte de actividades supervisadas </a><br>
            <a href='http://www.posling.uff.br/images/stories/Relatrio_Semestral_de_Bolsista_Linguagem-2015.doc'>Reporte semestral de becario </a><br>
            <a href='http://www.posling.uff.br/images/stories/Solicitao_de_Bolsa_Linguagem.doc'>Solicitud de beca</a><br>
            <a href='http://www.posling.uff.br/images/stories/Pedido_de_hospedagem_e_passagem_de_alunos_Linguagem.doc'>Solicitud de hospedaje y pasaje - Estudiantes </a><br>
            <a href='http://www.posling.uff.br/images/stories/Formulrio_Solicitao_de_Passagem.doc'>Solicitud de pasajes - Docentes </a><br>
            <a href='http://www.posling.uff.br/images/Termo_de_compromisso_do_bolsista-2015.pdf'>Acuerdo de compromiso de becario </a><br>
            <a href='http://www.posling.uff.br/images/Termo_de_Compromisso_-_Candidato_Linguagem.doc'>Acuerdo de compromiso - Documentos </a><br>
            <a href='http://www.posling.uff.br/images/stories/Trancamento_de_disciplinas_-_Linguagem.doc'>Cancelación de asignaturas </a><br>
            <a href='http://www.posling.uff.br/images/stories/Trancamento_de_perodo.doc'>Cancelación de período </a><br>
        </div>
    </div>
</div>