<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Quem Somos</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-6">
            <h4>Bienvenidos al sitio web del Programa de Posgrado en Estudios del Lenguaje.</h4>
            <p><strong>Año de inicio:</strong> 2010</p>
            <p><strong>Calificación CAPES:</strong> 5</p>
            <p><strong>Coordinador:</strong> Profa. Dra. Mônica Maria Guimarães Savedra</p>
            <p><strong>Vicecoordinador:</strong> Profa. Dra. Silmara Cristina Dela da Silva</p>
            <h4>Historia y objetivos</h4>
            <p>El programa de Posgrado en Estudios del Lenguaje de la UFF 
            (Universidad Federal Fluminense) fue aprobado por CAPES 
            (Coordinación de Acondicionamiento de Personal de Educación Superior)
            en el 2009 y comenzó a funcionar a partir del año 2010, como resultado
            de la división del antiguo programa de Posgrado en Letras, 
            creado en 1970. De esa separación resultó también el programa de Posgrado
            en Estudios de Literatura.</p>
            <p>Después de casi 40 años de existencia, formando másteres y doctores
            en las áreas de concentración de Estudios del Lenguaje y Estudios de 
            Literatura, el programa de Posgrado en Letras de la UFF contaba con 
            cerca de 300 alumnos y 60 docentes. En el año 2006, en la última reunión
            anual del colegiado, se informó sobre la necesidad de una división, 
            de modo que se creasen dos programas de posgrado, uno en Estudios del 
            Lenguaje, y otro en Estudios de Literatura. Se consideró que las dos 
            áreas de concentración:</p>
            <p><strong>a)</strong> estaban bien consolidadas, con un nivel de producción
            científica compatible con los requisitos para el establecimiento de un nuevo
            programa;</p>
            <p><strong>b)</strong> estaban balanceadas y bastante homogéneas, con 
            una cantidad similar de profesores (aprox. 25), de alumnos (aprox. 160) 
            y de producción científica;</p>
            <p><strong>c)</strong> podrían mantener un perfil académico mejor definido
            en la evaluación Capes, con la expectativa inclusive de tener mejores
            condiciones para el desarrollo y la expansión, al igual que hoy ocurre
            con otros programas con líneas de investigación más específicas; </p>
            </p><strong>d)</strong> tendrían una mayor relevancia y representación
            político-académica tanto a nivel regional como en el nacional e 
            internacional.</p> 
            <p>En esta manera, la división respondió a razones académicas y administrativas,
            lo que permitió que los dos nuevos programas se establecieran de manera
            más orgánica, específica y consistente.</p>
            </div>
        <div class="col-md-6">
            <p>Durante los siguientes tres años, el Colegiado trabajó en la revisión
            de la estructura curricular de las líneas de investigación y de las materias,
            de manera en que se adecuase el perfil académico de los nuevos programas
            a la formación y experiencia del cuerpo docente, al igual que en el 
            cumplimiento de las normas de investigación y formación establecidas 
            por el Magisterio Superior de Educación de Brasil.</p>
            <p>En el 2007 la propuesta de división fue aprobada por los órganos 
            colegiados de los tres centros en los que participaba el programa de
            Posgrado en Letras de la UFF: el Centro de Estudios Generales, el 
            Instituto de Letras y el del programa mismo. A partir de las decisiones
            a favor, las comisiones internas responsables por los dos nuevos programas,
            elaboraron los estatutos, la propuesta a ser sometida a votación, y el 
            programa curricular de los cursos de los programas de Estudios del 
            Lenguaje y Estudios de Literatura. En el 2008 la propuesta fue aprobada
            en ambos niveles máximos de autoridad - El Consejo para la Enseñanza
            y la Investigación, y el Consejo Universitario. A inicios de 2009, 
            las propuestas originales para la aprobación de ambos programas fueron
            enviados a CAPES. Los nuevos programas, ambos con nota 5 en la evaluación
            CAPES, fueron aprobados a finales de octubre del mismo año, y en el 2010 
            comenzaron a funcionar a tiempo completo. En este modo se consolidaron
            dos grandes áreas - Lenguaje y Literatura, en términos de su cuerpo 
            docente y estudiantil, de líneas de investigación y proyectos, de producción
            académica y técnica, y en resumen, del crecimiento y madurez de un 
            programa, el cual en el 2010 cumplió 40 años de existencia y de proyección
            nacional, y el cual continúa dividido en dos programas.</p>
            <p>A nivel de máster, el Programa de Posgrado en Estudios del Lenguaje 
            apunta a la formación de individuos centrados en la investigación y 
            en la docencia en el campo de Estudios del Lenguaje, en el área de la
            lingüística, capaces de actuar de manera competente primordialmente en
            la Región Sudeste de Brasil y servir en otras regiones del país, al 
            igual que dar seguimiento en su formación académica a nivel de posgrado.</p>
            <p>A nivel de doctorado, el Programa de Posgrado en Estudios del Lenguaje
            apunta a la formación de doctores con autonomía y excelencia en la 
            investigación científica, y en la docencia de educación superior, 
            comprometidos a fomentar la capacidad de buscar diferentes fuentes de
            información y reflexión y a la promoción de la productividad intelectual
            más allá de los límites del salón de clases y de las materias básicas del 
            currículo, en una expansión continua de saberes científicos en el 
            campo de Estudios del Lenguaje, en el área de lingüística.</p>
        </div>
    </div>
</div>
