<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <br>
        <br>
        <h1>REGLAMENTO INTERNO</h1>
        
    </div>
    <div class="container-fluid">
            
            <div class="col-md-10 cont-estatico-reg">
                <h3>PROGRAMA DE POSGRADO EN ESTUDIOS DEL LENGUAJE</h3>
                <br>
                <h4>PARTE I</h4>
                <h4>DE LAS DISPOSICIONES GENERALES</h4>
                <br>
                <h4>CAPÍTULO I</h4>
                <h4>DE LA ORGANIZACIÓN DEL PROGRAMA Y SUS OBJETIVOS</h4>
                <br>
                <p>Art. 1º- El Programa de Posgrado en Estudios del Lenguaje de 
                la Universidad Federal Fluminense, que funciona de conformidad 
                con el Reglamento General de los Cursos de Posgrado stricto sensu,
                aprobado por la Resolución 37/2004 del Consejo para la Enseñanza
                y la Investigación, incluye los programas de Máster y Doctorado, 
                organizados académicamente en líneas de investigación.</p>
                <p>Art. 2º- Los objetivos principales del programa son formar 
                personal calificado de alto nivel profesional para el desempeño 
                de actividades de investigación y de magisterio superior, al igual
                que contribuir al avance del conocimiento en el ámbito de los 
                estudios de lenguaje.</p>
                <br>
                <h4>CAPÍTULO II</h4>
                <h4>DE LAS CARACTERÍSTICAS DEL PROGRAMA</h4>
                <br>
                <p>Art. 3º- La organización académica del Programa en sistema de
                créditos, se caracteriza por tener una estructura curricular 
                flexible, en cuanto al contenido a los cursos y a las actividades
                académicas.</p>
                <p>Art. 4º- El cuerpo docente del Programa esta formado por profesores
                doctores, de preferencia vinculados al régimen de dedicación exclusiva,
                acreditados en relación a los términos fijados en los artículos 
                28 y 29 de este reglamento, para actividades de enseñanza, investigación
                y orientación.</p>
                <p>Párrafo único - Un mínimo de 75% de los docentes del Programa
                deberá pertenecer al Conjunto Permanente de la UFF, en régimen de
                Dedicación Exclusiva, conforme lo dispone el segundo inciso del 
                Art. 32 de la resolución no. 37/2004 del Consejo para la Enseñanza
                y la Investigación de la UFF.</p>
                <p>Art. 5º- Los alumnos del Programa, cuyo ingreso se lleva a cabo
                mediante un proceso de selección o de transferencia, realizan cada
                semestre lectivo, bajo orientación docente, una matrícula en cursos
                o actividades académicas previstas en el currículo aprobado por 
                el Consejo para la Enseñanza y la Investigación.</p>
                <p>Art. 6º- El programa tiene dirección colegiada, en los términos
                que se establecen en los artículos 17 y 20 de este reglamento.</p>
                <br>
                <h4>CAPÍTULO III</h4>
                <h4>DE LA CREACIÓN Y DEL FUNCIONAMIENTO</h4>
                <br>
                <p>Art. 7º- La propuesta de la creación de nuevos cursos dentro 
                del Programa será evaluada por el Colegiado, considerando la vinculación
                del respectivo proyecto a los objetivos del Programa y a las normas
                establecidas en el artículo 5º del Reglamento General de los Programas
                de Posgrado strictu sensu de la Universidad Federal Fluminense.</p>
                <p>Párrafo único- La oferta de cursos fuera de la sede deberá ser
                aprobado por el Colegiado, considerando las normas establecidas 
                por CAPES, y enviado a la Pro-Rectoría de Investigación y Posgrado,
                para el análisis técnico y enviado a CAPES para su debida autorización.</p>
                <p>Art. 8º- La carga académica total de los Cursos de Máster y de
                Doctorado es la prevista en el currículo aprobado por el Consejo 
                para la Enseñanza y la Investigación.</p>
                <p>Art. 9º- La duración mínima y máxima de los cursos es de 12 a
                24 meses para Máster y de 24 a 28 meses para el Doctorado, además
                del período de cierre al que el alumno tiene derecho, conforme 
                prevé el artículo 15 de este reglamento.</p>
                <p>Párrafo único - En casos excepcionales este límite de duración
                puede ser extendido a un período lectivo, mediante solicitud 
                fundamentada por el orientador del alumno al Colegiado del Programa,
                el cual decide en relación a la prórroga.</p>
                <br>
                <h4>CAPÍTULO IV</h4>
                <h4>DE LA ADMISIÓN AL PROGRAMA</h4>
                <br>
                <h5>SECCIÓN I</h5>
                <h5>DE LOS REQUISITOS MÍNIMOS</h5>
                <br>
                <p>Art. 10- El ingreso de alumnos al Programa ocurre por medio del
                proceso selectivo periódico - regulado por anuncio público oficial
                -, de transferencia o de convenios internacionales.</p>
                <p>§ 1º - Son requisitos mínimos para someterse al proceso selectivo
                para ingreso al programa de Máster: haber concluído un programa 
                de pregrado debidamente reconocido por el MEC; presentar la 
                documentación establecida en el decreto y cumplir las requisitos
                detallados en el mismo.</p>
                <p>§ 2º - Son requisitos mínimos para someterse al proceso selectivo
                para ingreso al programa de Doctorado: haber concluído un programa
                de máster; presentar la documentación establecida en el decreto y
                cumplir los requisitos detallados en el mismo.</p>
                <p>§ 3º- El ingreso por transferencia queda sujeto al juicio del
                Colegiado, considerando las exigencias previstas en los párrafos
                2º y 3º del artículo 12 de este reglamento.</p>
                <p>§ 4º- El ingreso por medio de convenios internacionales seguirá
                las normas de la organización responsable o de las instituciones
                involucradas.</p>
                <br>
                <h5>SECCIÓN II</h5>   
                <h5>DE LA SELECCIÓN</h5>
                <br>
                <p>Art. 11- El ingreso en el Programa por medio de proceso selectivo
                público y regulado por anuncio público oficial establece la 
                documentación necesaria y los requisitos específicos exigidos del
                candidato, al igual que establece el número de plazas por línea de
                investigación en el caso de máster, y por orientador, en el caso
                de doctorado. En esta misma manera serán establecidas por aparte
                el número de plazas para candidatos nacionales y extranjeros si 
                el Colegiado lo juzgare conveniente, además del cronograma y los
                criterios de evaluación.</p>
                <p>§ 1º- Para el máster, el proceso de selección consta de las 
                siguientes etapas: una prueba escrita o monografía, de carácter 
                eliminatorio, sobre temas específicos del área; los candidatos 
                aprobados en la primera etapa harán en una segunda etapa, la prueba
                eliminatoria de lengua extranjera instrumental. Existe también la
                posibilidad de una tercera etapa clasificatoria en la cual los 
                candidatos aprobados en las dos etapas anteriores son sometidos,
                si estuviere previsto en el anuncio público, a un examen de pre-proyecto,
                entrevista y análisis de curriculum vitae.</p>
                <p>§ 2º Para el doctorado, el proceso de selección se realiza en
                tres etapas. La primera de carácter eliminatorio, consta de una 
                prueba escrita en la cual el candidato debe demostrar, en un texto
                expositivo, capacidad de reflexión crítica en relación a temas 
                definidos en el decreto. El candidato aprobado en la primera 
                etapa es sometido, también en carácter eliminatorio, a una prueba
                instrumental de lengua extranjera, diferente a la que hubiere tomado
                para ser aprobado en el proceso selectivo de ingreso al máster.
                En la tercera etapa, de carácter clasificatorio, el candidato se
                somete a una entrevista con el orientador indicado en relación al
                anteproyecto de tesis y se analiza su curriculum vitae.</p>
                <p>§ 3º El decreto deberá ser aprobado por el Colegiado, en un 
                plazo mínimo de tres meses antes del inicio del proceso selectivo
                y enviado a la Pro-Rectoría de Enseñanza y Posgrado para su debida
                homologación y publicación.</p>
                <br>
                <h5>SECCIÓN III</h5>
                <h5>DE LA MATRÍCULA</h5>
                <br>
                <p>Art. 12- Para ser matriculado, el candidato deberá haber sido
                aprobado y clasificado en el proceso selectivo, haber ingresado 
                por transferencia o por convenio internacional.</p>
                <p>§ 1º- La matrícula de los alumnos aprobados en el proceso 
                selectivo es hecha de acuerdo con el calendario publicado por el
                Programa.</p>
                <p>§ 2º- La transferencia es solicitada al Departamento de Coordinación
                del Programa, quedando sujeta a la disponibilidad de plazas en la
                línea de investigación pertinente, la aceptación de un profesor 
                orientador y a la aprobación del Colegiado.</p>
                <p>§ 3º- El candidato a ser transferido debe presentar la debida
                documentación al programa de origen, que compruebe ser un Programa
                acreditado por CAPES.</p>
                <p>§ 4º- La aceptación de estudios del alumno transferido es hecha
                de acuerdo con lo dispuesto en el párrafo 1º del artículo 31 de 
                este reglamento.</p>
                <p>Art. 13- Una vez concluido el proceso selectivo, o aprobado el
                ingreso por transferencia o por convenio internacional, la secretaría
                del Programa hará la inscripción de los nuevos alumnos en el sistema
                de procesamiento académico correspondiente.</p>
                <p>Párrafo único - Al final de cada proceso selectivo, el coordinador
                enviará a la Pro-Rectoría de Investigación y Posgrado el acta de
                selección, con el número de candidatos inscritos, los nombres de
                los candidatos aprobados y la documentación correspondiente, al 
                igual que los números de matrículas generadas.</p>
                <br>
                <h5>SECCIÓN IV</h5>
                <h5>DE LA INSCRIPCIÓN EN LAS ASIGNATURAS</h5>
                <br>
                <p>Art. 14- Cada período lectivo, los alumnos proceden a la inscripción
                en asignaturas o en otras actividades académicas, conforme al 
                calendario publicado por el Programa.</p>
                <p>§ 1º- Podrán ser aceptadas inscripciones individuales de alumnos
                de pregrado para máster, en hasta dos cursos, y de alumnos de 
                máster para el doctorado, en un curso, de acuerdo con los criterios
                definidos por el Colegiado.</p>
                <p>§ 2º- El alumno que no se inscriba en cursos por un semestre 
                será considerado en régimen de bloqueo automático de matrícula.</p>
                <br>
                <h4>CAPÍTULO V</h4>
                <h4>DEL BLOQUEO Y CANCELAMIENTO</h4>
                <br>
                <p>Art. 15- El alumno podrá solicitar el bloqueo de matrícula al
                coordinador del Programa, en el período fijado en el calendario 
                escolar de la Universidad, o entrar en régimen de bloqueo automático,
                cuando no se inscribiere en disciplinas y/o en actividades académicas
                en el período establecido por el Programa.</p>
                <p>Párrafo único- El alumno podrá permanecer con la matrícula 
                bloqueada, por un máximo de un período lectivo.</p>
                <p>Art. 16- Al alumno le será cancelada su matrícula cuando:</p>
                <p align=left><strong>a)</strong>agotare el plazo máximo establecido
                para la completación del curso, conforme lo previsto en el artículo
                9 de este reglamento;</p>
                <p align=left><strong>b)</strong>fuere reprobado dos veces en cursos
                o en actividades académicas;</p>
                <p align=left><strong>c)</strong>no procediere por la segunda vez,
                consecutiva o no, a inscribirse en asignaturas o en actividades 
                académicas.</p>
                <br>
                <h4>PARTE II</h4>
                <h4>DE LAS DISPOSICIONES ESPECÍFICAS</h4>
                <br>
                <h4>CAPÍTULO I</h4>
                <h4>DE LA ORGANIZACIÓN ACADÉMICO-ADMINISTRATIVA</h4>
                <br>
                <h5>SECCIÓN I</h5>
                <h5>DEL COLEGIADO DEL PROGRAMA</h5>
                <br>
                <p>Art. 17 - El Colegiado del Programa es constituído por los 
                profesores acreditados en los términos de los artículos 28 y 29 
                de este reglamento y por una representación del alumnado correspondiente
                a ⅕ de sus miembros docentes.</p>
                <p>§ 1º- Los representantes del alumnado son escogidos mediante 
                elección, por los alumnos inscritos en el período lectivo en curso
                y tienen por mandato un período de un año.</p>
                <p>§ 2º- Pueden ser candidatos a representantes del alumnado los
                alumnos que estén regularmente inscritos en el período lectivo en
                que se procesa la elección.</p>
                <p>Art. 18- Procede al Colegiado del Programa:</p>
                <p><strong>a)</strong>proponer el reglamento específico del Programa
                y sus alteraciones;</p>
                <p><strong>b)</strong>aprobar el currículo de los cursos administrados
                por el Programa y sus alteraciones;</p>
                <p><strong>c)</strong>definir los criterios y mecanismos para la
                acreditación, reacreditación, y desacreditación de profesores;</p>
                <p><strong>d)</strong>informar a la Pro-Rectoría de Investigación
                y Posgrado, sobre la acreditación de los profesores que integrarán
                el cuerpo docente del Programa;</p>
                <p><strong>e)</strong>aprobar la programación académica de los 
                cursos administrados por el Programa;</p>
                <p><strong>f)</strong>aprobar los planes de aplicación de recursos
                puestos a la disposición del Programa por la Universidad o por 
                agencias de fomento;</p>
                <p><strong>g)</strong>proponer y aprobar proyectos de convenio con
                instituciones culturales, de enseñanza y de investigación, sujeta
                a tramitación estatutaria reglamentar.</p>
                <p><strong>h)</strong>aprobar decretos de selección para ingreso
                de alumnos al Programa, propuestos por el coordinador, después de
                expuestas las líneas de investigación.</p>
                <p><strong>i)</strong>aprobar la constitución de las ternas examinadoras
                de los procesos selectivos,indicadas por las líneas de investigación;</p>
                <p><strong>j)</strong>homologar los informes de las bancas de los
                procesos selectivos;</p>
                <p><strong>k)</strong>decidir sobre la aceptación de estudios previos,
                observado en lo dispuesto en el artículo 31 de este reglamento.</p>
                <p><strong>l)</strong>decidir sobre el paso directo del alumno de
                máster al doctorado, en los términos del artículo 32 de este 
                reglamento;</p>
                <p><strong>m)</strong>homologar os nomes dos orientadores e co-orientadores
                de dissertações de mestrado e teses de doutorado;</p>
                <p><strong>n)</strong>autorizar cambios de orientador, de acuerdo
                con lo que prevé el párrafo 4 del artículo 38 de este reglamento;</p>
                <p><strong>o)</strong>aprobar la composición de las ternas examinadoras
                de disertaciones y tesis indicadas por los orientadores;</p>
                <p><strong>p)</strong>aprobar las comisiones encargadas de examinar
                procesos de validación, revalidación de diplomas indicados por el
                coordinador del Programa, al igual que las observaciones formuladas
                por dichas comisiones;</p>
                <p><strong>q)</strong>homologar las observaciones relativas a la
                evaluación de proyectos de disertación de máster y exámenes de 
                calificación de doctorado;</p>
                <p><strong>r)</strong>decidir sobre la prórroga del plazo para 
                completar los programas, en casos excepcionales, a partir de la 
                solicitud fundamentada del orientador del alumno, de acuerdo con
                lo previsto en el párrafo único del artículo 9;</p>
                <p><strong>s)</strong>conceder plazo para la reelaboración de 
                disertación o tesis, de acuerdo con lo que prevé el párrafo 3 del
                artículo 41 de este reglamento.</p>
                <p><strong>t)</strong>deliberar sobre el proyecto de creación de
                nuevos cursos, sobre la oferta de cursos fuera de sede y sobre 
                la abertura y/o modificación de líneas de investigación;</p>
                <p><strong>u)</strong>dictaminar los recursos interpuestos a las
                decisiones tomadas por el coordinador del Programa, en los términos
                previstos en el párrafo único del artículo 22 de este reglamento.</p>
                <p>Párrafo único: el Colegiado adoptará el procedimiento de votación
                secreta siempre y cuando uno de sus miembros lo solicite y el 
                plenario lo apruebe.</p>
                <p>Art. 19 - El Colegiado tendrá una reunión ordinaria mensual, 
                convocada por el coordinador, siendo anunciada con antecedencia
                mínima de cinco días hábiles.</p>
                <p>§1º- El Colegiado podrá ser convocado extraordinariamente por
                el coordinador o a solicitud de la mayoría de sus miembros, con 
                antecedencia mínima de dos días hábiles.</p>
                <p>§2º- El quórum mínimo para la votación sobre decisiones del 
                Colegiado es de la mitad más uno del número de los miembros que 
                lo componen.</p>
                <br>
                <h5>SECCIÓN II</h5>
                <h5>DDE LA COORDINACIÓN DEL PROGRAMA</h5>
                <br>
                <p>Art. 20 - El programa es administrado por una Coordinación, a
                instancia ejecutiva de las decisiones derivadas del Colegiado.</p>
                <p>Art. 21- La Coordinación es ejercida por un coordinador y un 
                subcoordinador escogidos de entre los miembros del Colegiado y 
                pertenecientes a la planilla permanente de la Universidad.</p>
                <p>§1º- El coordinador y el subcoordinador tienen un período de 
                tenencia de cuatro años, con opción a renovación.</p>
                <p>§2º- El coordinador y subcoordinador son electos por consulta
                realizada en la manera establecida en el Reglamento General de 
                las Consultas Electorales de la Universidad y nombrados por el Rector.</p>
                <p>§3º- El coordinador y subcoordinador deben, de preferencia, 
                pertenecer a líneas de investigación distintas.</p>
                <p>§4º- Cada línea de investigación nombra un representante, con
                tenencia de dos años con opción a la renovación, quien asistirá 
                al coordinador y al subcoordinador en la coordinación de actividades
                académicas.</p>
                <p>Art. 22- Compete al coordinador:</p>
                <p><strong>a)</strong>convocar y presidir las reuniones del Colegiado;</p>
                <p><strong>b)</strong>coordinar las actividades académicas y dirigir
                las actividades administrativas del Programa;</p>
                <p><strong>c)</strong>elaborar la programación académica del Programa
                una vez conocidas las líneas de investigación, y someterla a la 
                observación del Colegiado;</p>
                <p><strong>d)</strong>proponer los planes de uso de recursos una
                vez conocidas las líneas de investigación, y someterlos a observación
                del Colegiado;</p>
                <p><strong>e)</strong>elaborar los decretos de selección una vez
                conocidas las líneas de investigación, y enviarlos al Colegiado;</p>
                <p><strong>f)</strong>indicar al Colegiado las ternas de los procesos
                de selección una vez conocidas las líneas de investigación;</p>
                <p><strong>g)</strong>nombrar una comisión encargada de analizar
                y de dar observaciones en los procesos de validación y revalidación
                de diplomas obtenidos en instituciones extranjeras, conforme a 
                la Resolución del Consejo para la Enseñanza y la Investigación.</p>
                <p><strong>h)</strong>delegar capacidad para la ejecución de 
                tareas específicas.</p>
                <p><strong>i)</strong>decidir ad referendum sobre asuntos urgentes
                que sean de relevancia al Colegiado.</p>
                <p>Párrafo único- Compete a las decisiones del coordinador la 
                interposición de recursos, a ser presentados en un plazo máximo 
                de cinco días a partir de la fecha de conocimiento del interesado.</p>
                <br>
                <p>Art. 23- Compete al subcoordinador sustituir al coordinador en
                sus ausencias e incapacidades y sucederlo definitivamente, si la
                interrupción sucediere después de ocurrida más de la mitad de su
                tenencia.</p>
                <p>§1º - Si la interrupción o incapacidad del coordinador sucediere
                durante el transcurso de la primera mitad de su tenencia, el 
                subcoordinador asumirá la Coordinación del Programa y tendrá un 
                plazo de 60 días para convocar al Colegiado, con el propósito de 
                establecer un nuevo proceso electoral, para el nombramiento del 
                puesto de coordinador.</p>
                <p>§2º - En la ausencia e incapacidad del coordinador y del 
                subcoordinador, asumirá la Coordinación el decano del Colegiado.</p>
                <p>§3º - El decano, al asumir la Coordinación del Programa en caso
                de interrupción definitiva del coordinador y subcoordinador, 
                tendrá un plazo de 60 días para convocar al Colegiado, con el 
                propósito de establecer un nuevo proceso electoral, para la elección
                al puesto de coordinador.</p>
                <br>
                <h5>SECCIÓN III</h5>
                <h5>DE LA SECRETARÍA</h5>
                <br>
                <p>Art. 24 - La Coordinación del Programa tendrá bajo su cargo, 
                una secretaria, órgano ejecutivo de los servicios técnicos y 
                administrativos, la cual será dirigida por un jefe de Secretaría,
                con las respectivas funciones definidas en la Norma de Servicio.</p>
                <br>
                <h4>CAPÍTULO II</h4>
                <h4>DE LOS CURRÍCULUMS</h4>
                <br>
                <p>Art. 25 - El currículo del Programa de Máster en Estudios del
                Lenguaje, aprobado por el Consejo para la Enseñanza y la Investigación,
                se compone de materias teóricas, actividades supervisadas, proyecto
                de disertación y disertación.</p>
                <p>Art. 26 - El currículo del Programa de Doctorado en Estudios 
                del Lenguaje, aprobado por el Consejo para la Enseñanza y la 
                Investigación, se compone de materias teóricas, actividades supervisadas,
                investigación orientada, examen de evaluación y tesis.</p>
                <br>
                <h4>CAPÍTULO III</h4>
                <h4>DE LA PROGRAMACIÓN PERIÓDICA DE LAS MATERIAS</h4>
                <br>
                <p>Art. 27 - El Programa tendrá una programación periódica anual,
                la cual consta de la oferta prevista de asignaturas, junto con 
                sus respectiva descripción, sílabos y bibliografías, y la planificación
                de las demás actividades académicas.</p>
                <br>
                <h4>CAPÍTULO IV</h4>
                <h4>DEL CUERPO DOCENTE</h4>
                <br>
                <p>Art. 28 - El cuerpo docente del Programa está constituido por
                profesores nombrados por el Colegiado y acreditados por la Pro-Rectoría
                de Investigación y Posgrado. Un mínimo del 75% (setenta y cinco por ciento)
                deberá pertenecer a la planilla docente permanente de la Universidad.</p>
                <p>§1º - Para la acreditación que le permita actuar en el programa
                de máster, el docente deberá tener título de doctorado, experiencia
                mínima de tres años en enseñanza de pregrado, que incluya de preferencia,
                actividades de orientación de alumnos, y producción científica adecuada
                a los patrones requeridos por CAPES, y compatible con la línea de
                investigación en la cual desee actuar, en los términos definidos
                en decisión conjunta del Colegiado.</p>
                <p>§2º - Para orientar e impartir asignaturas de Doctorado, el 
                profesor deberá haber orientado por lo menos un estudiante de 
                máster y presentar producción científica compatible, en los términos
                previstos en decisión conjunta del Colegiado.</p>
                <p>Art. 29 - La acreditación tiene validez de un período de tres
                años, a cuyo fin, el docente podrá ser reacreditado o no, después
                de ser analizados los indicadores de producción docente, en los 
                términos establecidos en decisión conjunta del Colegiado.</p>
                <br>
                <h4>CAPÍTULO V</h4>
                <h4>DEL RÉGIMEN ESCOLAR</h4>
                <br>
                <h5>SECCIÓN I</h5>
                <h5>DEL RENDIMIENTO ACADÉMICO Y DE LOS ESTUDIOS</h5>
                <br>
                <p>Art. 30 - Los criterios de medición del rendimiento escolar son
                traducidos por asistencia y atribución de notas, en una escala de
                0 (cero) a 10 (diez).</p>
                <p>§ 1º - La asistencia para aprobar materias y actividades académicas
                debe ser igual o superior al 75%</p>
                <p>§ 2º - La nota mínima para aprobar materias y actividades 
                académicas es 6 (seis).</p>
                <p>Art. 31- Podrán ser aceptados, bajo criterio del Colegiado, 
                los créditos obtenidos en materias o actividades académicas 
                equivalentes a las del Programa, excluidas aquellas que sean 
                relevantes al trabajo final.</p>
                <p>§ 1º - A solicitud del alumno y por decisión del Colegiado, 
                podrán ser transferidos hasta ⅓ (un tercio) del total de créditos
                del Programa, en el caso de materias o actividades cursadas en 
                otros programas de posgrado siempre y cuando fueren acreditados 
                por CAPES al momento de haber sido obtenidos los créditos por 
                parte del alumno solicitante.</p>
                <p>§ 2º - El límite de ⅓ mencionado en el párrafo anterior podrán
                ser superados si los créditos hubieren sido obtenidos en el propio
                Programa, quedando a criterio del Colegiado.</p>
                <p>Art. 32 - El alumno matriculado en el programa de Máster podrá
                pasar directamente al Doctorado, mediante solicitud fundamentada 
                del profesor-orientador al Colegiado, el cual nombrará una terna
                examinadora para evaluar al alumno y aprobará el dictamen emitido.</p>
                <p>§ 1º - La solicitud del profesor-orientador debe ser fundamentada
                con criterios académicos, destacando la calidad y relevancia del
                trabajo desarrollado por el alumno.</p>
                <p>§ 2º - La terna examinadora estará formada por el orientador,
                un miembro del Programa y un miembro externo.</p>
                <p>§ 3º - El alumno que pasare directamente al Doctorado deberá 
                incorporar el currículum y responder a los demás requisitos 
                reglamentarios del Programa de Doctorado, en los plazos establecidos
                en este reglamento.</p>
                <p>§ 4º - Los cursantes del programa de máster que sean becarios
                CAPES, para obtener promoción directa al Doctorado, deberán someterse
                a los requisitos de la Ordenanza 077/2006 de esta agencia.</p>
                <p>§ 5º - No cumplir con los plazos establecidos en este reglamento,
                somete al alumno a lo previsto en el artículo 16, línea ‘a’, de 
                este reglamento, con la finalidad de cancelar la matrícula.</p>
                <br>
                <h4>CAPÍTULO VI</h4>
                <h4>DE LA CONCESIÓN DE TÍTULOS</h4>
                <br>
                <h5>SECCIÓN I</h5>
                <h5>DE LAS EXIGENCIAS</h5>
                <br>
                <p>Art. 33 - El título de Máster o de Doctor en Estudios del Lenguaje
                será concedido al alumno que cumpliere la completación del currículo
                y obtuviere aprobación del trabajo final, además de poder demostrar
                conocimiento de una lengua extranjera, en el caso de Máster, y de
                dos lenguas extranjeras, en el caso de Doctorado.</p>
                <p>Párrafo único - La integración curricular sin presentación y 
                aprobación del trabajo final obtendrá derecho al certificado de 
                Especialización en Letras, de acuerdo con lo que prevé el párrafo
                único del artículo 36 del Reglamento General de los cursos de 
                Posgrado strictu sensu.</p>
                <p>Art. 34 - El alumno de Máster someterá a una terna examinadora,
                formada por el profesor-orientador y dos profesores más, a más 
                tardar aql inicio del tercer período lectivo, un proyecto de 
                disertación, el cual deberá constar de su debida presentación, 
                justificación, objetivos, metodología, resumen, cronograma y 
                bibliografía.</p>
                <p>§ 1º - La comisión examinadora argumentará lo propuesto por el
                alumno, presentándole sugerencias de referencia y de bibliografía,
                y sugerirá las correcciones necesarias, a fin de colaborarle en 
                la preparación de la disertación.</p>
                <p>§ 2º - Después de la argumentación, la comisión decidirá sobre
                la aprobación del proyecto, emitiendo una opinión fundamentada 
                para ser enviada al Colegiado para su aprobación final.</p>
                <p>§ 3º - En caso que el proyecto del alumno no fuere aprobado,
                tendrá hasta dos meses para modificarlo y presentarlo, sometiéndose
                a una nueva evaluación, en la cual una reprobación resultará en 
                remoción del Programa.</p>
                <p>Art. 35 - El alumno del Programa de Doctorado será sometido a
                un examen de calificación en su cuarto período lectivo de curso,
                en el cual presentará a una terna, constituida por el profesor-orientador
                y dos profesores más, un proyecto de tesis consolidado y un trabajo
                que demuestre los avances en relación a la tesis, sea en forma de
                capítulos redactados, en forma de análisis de corpus, o en forma
                de levantamiento y análisis de datos. En cualquiera de los casos
                previos, el trabajo deberá contener la debida explicación del marco
                teórico y la metodología de apoyo.</p>
                <p>§ 1º- La comisión examinadora argumentará lo propuesto por el
                alumno, presentándole sugerencias de referencia y de bibliografía,
                igual que las debidas correcciones, a fin de colaborarle en la 
                preparación de la tesis.</p>
                <p>§ 2º- Después de la argumentación, la comisión decidirá sobre
                la aprobación del proyecto, emitiendo una opinión fundamentada 
                para ser enviada al Colegiado para su aprobación final.</p>
                <p>§ 3º - En caso que el proyecto del alumno no fuere aprobado, 
                tendrá hasta tres meses para modificarlo y presentarlo, sometiéndose
                a una nueva evaluación, en la cual una reprobación resultará en 
                remoción del Programa.</p>
                <br>
                <h5>SECCIÓN II</h5>
                <h5>DEL TRABAJO FINAL</h5>
                <br>
                <p>Art. 36 - Para obtener el grado de Máster, el alumno, después
                de cumplir con todos los créditos del programa, presentará un 
                trabajo final, en forma de disertación, en la que demuestre dominio
                del tema escogido, actualización bibliográfica y capacidad de 
                sistematización.</p>
                <p>Art. 37- Para obtener el grado de Doctor, el alumno, después 
                de cumplir con todos los créditos del programa, deberá presentar
                un trabajo final, en forma de tesis, que represente un trabajo 
                original de investigación y contribución real para los estudios 
                del lenguaje.</p>
                <p>Art. 38 - Para la elaboración del trabajo final, el alumno 
                tendrá la orientación de un profesor-orientador.</p>
                <p>§ 1º - En el caso de Máster, el alumno indicará en el segundo
                período lectivo, un orientador cuyo nombre será homologado por 
                el Colegiado.</p>
                <p>§ 2º - En el caso de Doctorado, el alumno solo podrá ingresar
                en el Programa contando ya con un orientador, al cual hubiere 
                sometido su anteproyecto durante el proceso selectivo.</p>
                <p>§ 3º - El alumno podrá solicitar, de común acuerdo con su 
                orientador, un co-orientador, cuyo nombre también deberá ser 
                aprobado por el Colegiado.</p>
                <p>§ 4º - El alumno podrá solicitar un cambio de profesor-orientador,
                mediante requisición fundamentada al Colegiado del Programa, el 
                cual examinará la solicitud y tomará una decisión.</p>
                <p>§ 5º - El profesor-orientador podrá solicitar la interrupción
                de los trabajos de orientación del alumno, mediante requisición 
                fundamentada al Colegiado, el cual examinará la solicitud y tomará
                una decisión.</p>
                <p>Art. 39 - Cada profesor podrá orientar hasta 10 trabajos finales,
                simultáneamente.</p>
                <p>Párrafo único - En casos extraordinarios, este límite podrá 
                ser extendido, mediante solicitud fundamentada por parte del 
                profesor-orientador, bajo decisión del Colegiado.</p>
                <p>Art. 40 - Los trabajos finales deberán ser juzgados por una 
                comisión examinadora, constituida por profesores doctores o con 
                titulación equivalente.</p>
                <p>§ 1º - En el caso de Máster, la comisión deberá estar conformada
                por el orientador y por dos miembros efectivos, siendo uno de ellos
                de otra institución de enseñanza superior o centro de investigación,
                además de dos suplentes, siendo uno del Programa y otro externo.</p>
                <p>§ 2º- En el caso de Doctorado, la comisión deberá estar conformada
                por el orientador y por cuatro miembros efectivos, siendo dos de
                ellos de otra institución de enseñanza superior o centro de 
                investigación, además de dos suplentes, siendo uno del Programa 
                y otro externo.</p>
                <p>Art. 41 - La comisión examinadora por mayoría de miembros, 
                indicará o no la aprobación del trabajo final mediante fallo 
                fundamentado.</p>
                <p>§ 1º- El argumento y defensa del trabajo final serán realizados
                en sesión pública.</p>
                <p>§ 2º - Después de la defensa, el alumno aprobado tendrá un plazo
                máximo de hasta 60 días para entregar a la Secretaría del Programa,
                tres ejemplares impresos y una copia digital de la versión final
                del trabajo, el cual deberá incorporara las sugerencias y 
                recomendaciones de la terna examinadora.</p>
                <p>§ 3º - La comisión examinadora podrá, bajo fallo fundamentado,
                exigir modificaciones y estipular plazo para volver a presentar 
                el trabajo final, respetando los límites de tiempo máximo concedido
                al alumno, para la conclusión del curso, en los términos de este 
                reglamento.</p>
                <p>§ 4º - El alumno que no obtuviere aprobación podrá solicitar 
                al Colegiado, mediante solicitud fundamentada, un plazo para la 
                reelaboración del trabajo final y su debida presentación, observando
                los límites de tiempo establecidos para la conclusión del programa,
                en los términos de este reglamento.</p>
                <br>
                <h5>SEÇÃO III</h5>
                <h5>DE LA CONCESIÓN DE GRADO</h5>
                <br>
                <p>Art. 42 - Después de cumplidas todas las formalidades necesarias
                para la conclusión del Programa, el alumno deberá solicitar la 
                expedición del diploma, en el órgano competente, conforme a la 
                regulación de la Pro-Rectoría de Investigación y Posgrado.</p>
                <p>Párrafo único - La Pro-Rectoría de Investigación y Posgrado, 
                después de verificar el cumplimiento de la legislación vigente, 
                emitirá una decisión técnica y enviará el proceso a la Pro-Rectoría
                de Asuntos Académicos, para la emisión y registro del diploma.</p>
                <br>
                <h4>PARTE III</h4>
                <h4>DE LAS DISPOSICIONES TRANSITORIAS Y FINALES</h4>
                <br>
                <p>Art. 43 - Los casos omisos en este reglamento serán decididos
                por el Colegiado, respetándose los términos del Reglamento 
                General de los Cursos de Posgrado stricto sensu de la Universidad.</p>
                <p>Art. 45 - Este reglamento entra en vigor en la fecha de su 
                aprobación por el Consejo para la Enseñanza y la Investigación.</p>
                <br>
                <p>MEC (Ministerio de Educación y Cultura) - UNIVERSIDAD FEDERAL
                FLUMINENSE CONSEJO PARA LA ENSEÑANZA Y LA INVESTIGACIÓN</p>
                <br>
                <p>RESOLUCIÓN No.</p>
                <br>
                <p>ESÍLABO: Establece el currículo del Programa de Posgrado en 
                Estudios del Lenguaje, nivel Máster y Doctorado.</p>
                <br>
                <br>
                <p>EL CONSEJO PARA LA ENSEÑANZA Y LA INVESTIGACIÓN de la UNIVERSIDAD 
                FEDERAL FLUMINENSE, en uso de sus atribuciones y considerando lo
                que consta en el proceso No.</p>
                <p>RESUELVE:</p>
                <p>Art. 1 - El currículo del Programa de Posgrado en Estudios del
                Lenguaje, nivel máster y doctorado, incluye las materias, créditos
                y carga horaria descritos a continuación.</p>
                <br>
                <br>
                <p><strong>Materias obligatorias del núcleo general</strong></p>
                <table>
                <tr>
                <th rowspan="2">Materias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Fundamentos teórico-metodológicos de los</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>estudios en lenguaje</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Actividades supervisadas</td>
                <td>GCL, GLC, GLE</td>
                <td> </td>
                <td>2</td>
                <td> </td>
                <td>90</td>
                </tr>
                <tr>
                <td>Investigación orientada</td>
                <td>GCL, GLC, GLE</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>180</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Materias electivas en Áreas Específicas</strong></p>
                <p><strong>Línea de Investigación 1 - Teoría y Análisis Lingüístico
                </strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Materias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Aspectos semántico-pragmáticos del lenguaje</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Estudios en gramática</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Lengua en uso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Lenguaje y Cognición</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Línea de investigación 2 - Teorías del texto, del discurso y 
                de la interacción</strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Materias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Análisis del discurso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Análisis interactivo del discurso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Semiolingüística</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Semiótica</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Línea de investigación 3 - Historia, política y contacto
                lingüístico</strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Materias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Contacto de lenguas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Historia de las ideas lingüísticas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Historiografía de la lingüística</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Políticas lingüísticas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art. 2º - En el programa de Máster, el alumno deberá cursar 
                las dos materias obligatorias del núcleo general: Fundamentos 
                teórico-metodológicos de los estudios del lenguaje y actividades
                supervisadas, y tres materias de las áreas específicas, 
                perteneciendo una de ellas obligatoriamente a su línea de 
                investigación.</p>
                <p>Art. 3º - En el programa de máster, el currículo es complementado
                por la defensa de un proyecto de disertación, al cual le serán 
                atribuidos 2 créditos de trabajo orientado, correspondientes a 
                90 (noventa) horas/clase, al igual que por una disertación, 
                seguida de la argumentación por parte de la terna examinadora, 
                a la cual le serán atribuidas 8 créditos de trabajo orientado, 
                correspondientes a 360 (trescientas sesenta) horas/clase. 
                Deberá ser cumplido en un tiempo hábil de 780 (setecientas ochenta)
                horas/clase, correspondientes a 28 (veintiocho) créditos, 
                cumpliendo las siguientes actividades:</p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Actividades</th>
                <th colspan="4">Créditos</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                <th>Total</th>
                </tr>
                <tr>
                <td>2 Materias Obligatorias</td>
                <td>4</td>
                <td>2</td>
                <td> </td>
                <td>6</td>
                <td>150</td>
                </tr>
                <tr>
                <td>1 Materia optativa de la Línea de Investigación correspondiente
                al Proyecto de Investigación</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>60</td>
                </tr>
                <tr>
                <td>2 Materias electivas que serán cursadas de entre las ofrecidas
                por los Programas de Posgrado de El Grande Río, reconocidos por CAPES.</td>
                <td>8</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>120</td>
                </tr>
                <tr>
                <td>Proyecto de Disertación</td>
                <td> </td>
                <td> </td>
                <td>2</td>
                <td>2</td>
                <td>90</td>
                </tr>
                <tr>
                <td>Disertación</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>8</td>
                <td>360</td>
                </tr>
                <tr>
                <td>Total</td>
                <td>16</td>
                <td>2</td>
                <td>10</td>
                <td>28</td>
                <td>780</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art. 4º - En el programa de Doctorado, el alumno deberá cursar
                dos asignaturas obligatorias de actividades supervisadas y una 
                de investigación orientada, ambas del núcleo general, y tres 
                disciplinas de las áreas específicas, perteneciendo una de ellas 
                obligatoriamente a su línea de investigación. En el Doctorado, 
                la materia “Fundamentos Teórico-Metodológicos” de los estudios 
                en lenguaje podrá ser cursada como electiva.</p>
                <p>Art. 5º - En el programa de Doctorado, el currículo es complementado
                por la defensa de un examen clasificatorio, al cual le serán 
                atribuidos 6 créditos de trabajo orientado, correspondientes a 
                270 (doscientos setenta) horas/clase, al igual que por una tesis, 
                seguida por la argumentación por una terna examinadora, a la cual
                le serán atribuidos 16 créditos de trabajo orientado, correspondientes
                a 720 (setecientos veinte) horas/clase. Deberá ser cumplido en 
                un tiempo hábil de 1530 (mil quinientos treinta) horas/clase, 
                correspondientes a 48 (cuarenta y ocho) créditos, comprendiendo 
                las siguientes actividades:</p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Actividades</th>
                <th colspan="4">Créditos</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                <th>Total</th>
                </tr>
                <tr>
                <td>3 Materias obligatorias</td>
                <td>4</td>
                <td>4</td>
                <td> </td>
                <td>8</td>
                <td>360</td>
                </tr>
                <tr>
                <td>1 Materia optativa de la Línea de Investigación correspondiente
                al Proyecto de Investigación</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>60</td>
                </tr>
                <tr>
                <td>2 Materias electivas que serán cursadas de entre las ofrecidas
                por los Programas de Posgrado de El Grande Río, reconocidos por CAPES</td>
                <td>8</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>120</td>
                </tr>
                <tr>
                <td>Examen clasificatorio</td>
                <td> </td>
                <td> </td>
                <td>6</td>
                <td>6</td>
                <td>270</td>
                </tr>
                <tr>
                <td>Tesis</td>
                <td> </td>
                <td> </td>
                <td>16</td>
                <td>16</td>
                <td>720</td>
                </tr>
                <tr>
                <td>Total</td>
                <td>16</td>
                <td>4</td>
                <td>22</td>
                <td>42</td>
                <td>1530</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art. 6º - Los programas tendrán la siguiente duración, en meses:</p>
                <br>
                <p>Programa de máster:</p>
                <p><strong>a)</strong>mínima: 12 (doce) meses</p>
                <p><strong>b)</strong>máxima: 30 (treinta) meses</p>
                <br>
                <p>Programa de doctorado:</p>
                <p><strong>a)</strong>mínima: 24 (veinticuatro) meses</p>
                <p><strong>b)</strong>máxima: 54 (cincuenta y cuatro) meses</p>
                <br>
                <p>§1 En la duración máxima del Programa está incluida el período
                de bloqueo o prórroga al cual los alumnos tienen derecho.</p>
                <br>
                <p>§2 En caso de presentarse dificultad en la realización del 
                trabajo final en el tiempo hábil, el plazo máximo establecido 
                por este artículo para la conclusión del curso podrá ser 
                prorrogado excepcionalmente por un semestre adicional, conforme
                lo prescribe el Reglamento del Programa.</p>
                <br>
                <br>
                </div>
    </div>
</div>