<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @disciplinas2.texto %>
</p>

<%= link_to 'Edit', edit_disciplinas2_path(@disciplinas2) %> |
<%= link_to 'Back', disciplinas2s_path %>
