.flag {
    width:auto;
}
.flag img:hover{
    opacity: 0.5;
}
.fundobranco{
    background-color: white;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color:#F1F7F3;
  
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 100px; 
}
.site-footer {
  background: black;
  padding-top: 26px;
  padding-right:10px;
}
.site-footer p{
    color:white;
}

/*Aqui começa o layout da pagina Home*/
.img-home{
padding-bottom: 20%;
margin-top:-5%;
  background-image: url("campus_uff.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  
}
.transparente{
  background-image: url("fundo_transparente.png");
  margin-top:10%;
  margin-left:22%;  
  margin-right:22%;
  padding:3%;
  
  
  position:relative;
}
@media(max-width:991px){
  .transparente{
    margin-left:50px;
    margin-right:50px;
  }
}
@media(max-width:767px){
  .transparente{
    margin-left:10px;
    margin-right:10px;
  }
}
.painelLogo{
  background-color:white;
}
.logoHome{
  width:100%;
  padding-left:23%;
  padding-right:23%;
  padding-top:15%;
  padding-bottom: 15%;
  
}

.apresentacao{
  padding:60px;
  margin-left:200px;
  margin-right:200px;
  background-color:#E2EFE8;
  margin-top:-10%;
  position:absolute;

}

@media(max-width: 991px){
  .apresentacao{
    margin-left: 100px;
    margin-right: 100px;
    padding:40px;
  }
}
@media(max-width: 767px){
  .apresentacao{
    margin-left: 25px;
    margin-right: 25px;
    padding:20px;
    
  }
  .apresentacao h3{
    font-size: 15px;
  }
}

.separador{
  height: 150px;
}

.bem-vindo{
  background-color:white;
  margin-bottom: 100px;
  
}
.logoBalao{
padding-left :250px;
padding-right:250px;
padding-bottom:100px;
width:100%;

}

@media(max-width:991px){
  .logoBalao{
padding-left :200px;
padding-right:200px;
padding-bottom: 60px;
}
.bem-vindo{
  background-color:white;
  
  margin-bottom: 50px
}
.separador{
  height: 150px;
}

}@media(max-width:767px){
  .logoBalao{
padding-left :60px;
padding-right: 60px;
padding-bottom: 35px;
}
.bem-vindo{
  background-color:white;
  margin-bottom: 25px;
  
}
.separador{
  height: 120px;
}

}

.finalHome{
  background-color: white;
  padding-bottom:  30px;
  padding-top:30px;
}
.row{
  margin-right: 0;
}
@media(max-width: 991px){
.finalHome{
  background-color: white;
  padding-bottom:30px;
  padding-top:15px;
}

}
@media(max-width: 767px){
.finalHome{
  background-color: white;
  padding-bottom: 20px;
  padding-top:10px;
}

}

.logouff{
  width:70px;
  margin-top:20px;  
}
.logoFb{
  width: 70px;
  margin-top: 20px;
}
@media(max-width:991px){
.logouff{
  width:70px;
  margin-top:10px;
  margin-left:20px;

}
.logoFb{
  width: 70px;
  margin-top: 10px;

}

.txtHome{
  margin-left: 20px;
}
}
/*Aqui termina o Layout da pagina home*/
/*Quem Somos*/
.cont-estatico h1{
  text-align: center;
  margin-bottom: 50px;
}
.cont-estatico{
  width: 90%;
  background-color: white;
  padding-bottom: 50px; 
}
/*Aqui termina o quem somos*/

#ingles{
  display: none;
}

