<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Estrutura Curricular</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
<p>MEC – UNIVERSIDADE FEDERAL FLUMINENSE
CONSELHO DE ENSINO E PESQUISA</p>
<br>
<br> 
<p>RESOLUÇÃO Nº</p> 
<br>
<p>EMENTA: Estabelece o currículo do Programa de Pós-Graduação em Estudos de Linguagem, Nível de Mestrado e Doutorado.</p>
<br>
<br> 
<p>O CONSELHO DE ENSINO E PESQUISA da UNIVERSIDADE FEDERAL FLUMINENSE, no uso de suas atribuições e considerando o que consta no processo nº                       ,</p>
<br>
<p>RESOLVE:<br>
Art. 1º - O currículo do Programa de Pós-Graduação em Estudos de Linguagem, nível de mestrado e doutorado,compreende as disciplinas, créditos e carga horária abaixo relacionados.</p>
 
<p> 
Disciplinas Obrigatórias do Núcleo Comum</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Disciplinas</th>
        <th>Orgão de Vinculação de Disciplina</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Fundamentos teórico-metodológicos dos estudos em linguagem</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Atividades supervisionadas</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td>2</td>
        <td colspan= 1></td>
        <td>90</td>
      </tr>
      <tr>
        <td>Pesquisa orientada</td>
        <td>GCL, GLC, GLE</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>180</td>
      </tr>
    </table>
  <p>Disciplinas Optativas dos Domínios Específicos<br>
Linha 1 – Teoria e análise lingüística</p>
        <table class="table table-responsive table-bordered">
      <tr>
        <th>Disciplinas</th>
        <th>Orgão de Vinculação de Disciplina</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Aspectos semântico-pragmáticos da linguagem</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Estudos em gramática</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Língua em uso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Linguagem e cognição</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Linha 2 – Teorias do texto, do discurso e da interação</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Disciplinas</th>
        <th>Orgão de Vinculação de Disciplina</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Análise do discurso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>Análise interacional do discurso</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiolingüística</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Semiótica</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
  <p>Linha 3 – História, política e contato linguístico</p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Disciplinas</th>
        <th>Orgão de Vinculação de Disciplina</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>Contato de línguas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
        <tr>
        <td>História das idéias linguísticas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Historiografia da linguística</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>
      <tr>
        <td>Políticas linguísticas</td>
        <td>GCL, GLC, GLE</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>60</td>
      </tr>

    </table>
    <p>Art. 2º - No Mestrado, o aluno deverá cursar as duas disciplinas obrigatórias do Núcleo Comum: Fundamentos teórico-metodológicos dos estudos em linguagem e Atividades supervisionadas e três disciplinas dos Domínios Específicos, sendo uma obrigatoriamente de sua Linha de Pesquisa.
    </p>
    <br>
    <p>Art. 3º - No Mestrado, este currículo é complementado pela defesa de um projeto de dissertação, a qual serão atribuídos 2 créditos de trabalho orientado, correspondentes a 90 (noventa) horas/aula, bem como por uma dissertação, seguida de argüição por banca examinadora, a qual serão atribuídos 8 créditos de trabalho orientado, correspondentes a 360 (trezentas e sessenta) horas/aula. Deverá ser cumprido num tempo útil de 780 (setecentas e oitenta) horas/aula, correspondentes a 28 (vinte e oito)créditos, compreendendo as seguintes atividades:    </p>
    <table class="table table-responsive table-bordered">
      <tr>
        <th>Atividades</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Creditos Totais</th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>2 Disciplinas Obrigatórias</td>
        <td>4</td>
        <td>2</td>
        <td colspan = 1></td>
        <td>6</td>
        <td>150</td>
      </tr>
      <tr>
        <td>1 Disciplina Optativa da Linha de Pesquisa correspondente ao seu Projeto de Pesquisa.</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>2 Disciplinas Eletivas a serem cursadas dentre as oferecidas pelos Programas de Pós-Graduação do Grande Rio, reconhecidos pela CAPES.</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Projeto de Dissertação</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>2</td>
        <td>2</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Dissertação</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>Totais</td>
        <td>16</td>
        <td>2</td>
        <td>10</td>
        <td>28</td>
        <td>780</td>
      </tr>


    </table>    
    <p>
     Art. 4º - No Doutorado, o aluno deverá cursar duas disciplinas obrigatórias de Atividades supervisionadas e uma de Pesquisa orientada, ambas do Núcleo Comum, e três disciplinas dos Domínios Específicos, obrigatoriamente uma de sua Linha de Pesquisa. No Doutorado, a disciplina Fundamentos teórico-metodológicos dos estudos em linguagem pode ser cursada como optativa.   
    </p>    
    <p>Art. 5º - - No Doutorado, este currículo é complementado pela defesa de um exame de qualificação, a qual serão atribuídos 6 créditos de trabalho orientado, correspondentes a 270 (duzentas e setenta) horas/aula, bem como por uma tese, seguida de argüição por banca examinadora, a qual serão atribuídos 16 créditos de trabalho orientado, correspondentes a 720 (setecentas e vinte) horas/aula. Deverá ser cumprido num tempo útil de 1530 (mil quinhentas e trinta) horas/aula, correspondentes a 48 (quarenta e oito)créditos, compreendendo as seguintes atividades:</p>    
    
        <table class="table table-responsive table-bordered">
      <tr>
        <th>Atividades</th>
        <th>Creditos T</th>
        <th>Creditos P ou TP</th>
        <th>Creditos ES ou TO </th>
        <th>Creditos Totais</th>
        <th>Carga Horaria</th>
      </tr>
      <tr>
        <td>3 Disciplinas Obrigatórias</td>
        <td>4</td>
        <td>4</td>
        <td colspan = 1></td>
        <td>8</td>
        <td>360</td>
      </tr>
      <tr>
        <td>1 Disciplina Optativa da Linha de Pesquisa correspondente ao seu Projeto de Pesquisa.</td>
        <td>4</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>4</td>
        <td>60</td>
      </tr>
      <tr>
        <td>2 Disciplinas Eletivas a serem cursadas dentre as oferecidas pelos Programas de Pós-Graduação do Grande Rio, reconhecidos pela CAPES.</td>
        <td>8</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>8</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Exame de qualificação</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>6</td>
        <td>6</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Tese</td>
        <td colspan = 1></td>
        <td colspan = 1></td>
        <td>16</td>
        <td>16</td>
        <td>720</td>
      </tr>
      <tr>
        <td>Totais</td>
        <td>16</td>
        <td>4</td>
        <td>22</td>
        <td>42</td>
        <td>1530</td>
      </tr>


    </table>       
    
    <p>Art 6º - Os Cursos terão a seguinte duração, em meses:</p>
    <p>No Mestrado:</p>
    <ul>
        <li>Mínima: 12(doze) meses</li>
        <li>Máxima: 30(trinta) meses</li>
    </ul>
    <p>No Doutorado:
    </p>
    <ul>
        <li>Mínima: 24(vinte e quatro) meses</li>
        <li>Máxima: 54(cinquenta e quatro) meses </li>
        <br>
        <li>§ 1º Na duração máxima está incluído o período de trancamento ao qual os alunos têm direito. </li>
        <li>§ 2º Em caso de dificuldade de realização do trabalho final em tempo útil, o prazo máximo estabelecido por este artigo para conclusão do curso poderá ser excepcionalmente prorrogado por mais 1 (um) semestre letivo, conforme prescreve o Regulamento do Curso.</li>
    
    </ul>
    
    <p>Art. 7º A presente Resolução entrará em vigor na data de sua aprovação por este Conselho.</p>
    
        </div>
    </div>    
    
</div>