<h1>PaginasEstaticas#home</h1>
<p>Find me in app/views/paginas_estaticas/home.html.erb</p>
<a href = 'home'>Home</a><br>
<a href = 'calendarioematricula'>Calendário e Matrícula</a><br>
<a href = 'editais'>Editais</a><br>
<a href = 'estruturacurricular'>Estrutura Curricular</a><br>
<a href = 'formularios'>Formulários</a><br>
<a href = 'legislacao'>Legislação</a><br>
<a href = 'manualdoaluno'>Manual do aluno<br></a>
<a href = 'quadrodehorarios'>Quadro de horários<br></a>
<a href = 'regimentos'>Regimentos<br></a>
<a href = 'quemsomos'>Quem somos<br></a>
 
