<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Quem Somos</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 cont-estatico-reg">
            <h4>Seja bem-vindo ao site do Programa de Pós-Graduação em Estudos de Linguagem</h4>
            <p><strong>Ano de início:</strong> 2010</p>
            <p><strong>Conceito Capes:</strong> 5</p>
            <p><strong>Coordenadora:</strong> Profa. Dra. Mônica Maria Guimarães Savedra</p>
            <p><strong>Vice-coordenadora:</strong> Profa. Dra. Silmara Cristina Dela da Silva</p>
            <p>  O Programa de Pós-Graduação em Estudos de Linguagem da UFF foi 
            aprovado pela Capes em 2009 e passou a
            funcionar a partir de 2010, como resultado do desmembramento do antigo Programa 
            de Pós-Graduação em Letras,
            criado em 1970. Desse desmembramento resultou também o Programa de Pós-Graduação
            em Estudos de Literatura.</p>
            <p>Após cerca de 40 anos de existência, formando mestres e doutores 
            nas áreas de concentração de Estudos de
            Linguagem e Estudos de Literatura e contando com cerca de 300 alunos e 60 
            docentes, o Programa de Pós-
            Graduação em Letras da UFF, na última reunião anual de seu colegiado em 2006, 
            indicou a necessidade de
            desmembramento, de maneira a criar dois programas de PG, um em Estudos de 
            Linguagem e outro em Estudos
            de Literatura, considerando que as duas áreas de concentração:</p>
            <p><strong>a)</strong> encontravam-se bem consolidadas, com nível
            de produção científica compatível com o estatuto de um novo programa;</p>
            <p><strong>b)</strong> eram equilibradas e bastante homogêneas, com número similar de professores (cerca de 25), de alunos 
            (cerca de 160) e de produção científica;</p>
            <p><strong>c)</strong> poderiam manter perfil acadêmico mais definido no Coleta Capes, 
            na expectativa inclusive de ter melhores
            condições de desenvolvimento e ampliação, tal como hoje ocorre com 
            os demais programas que têm foco de
            pesquisa mais específico; </p>
            </p><strong>d)</strong> teriam maior presença e representatividade 
            político-acadêmica, tanto em nível regional
            quanto em nível nacional e internacional.</p> 
            <p>O desmembramento, assim, 
            atendeu a razões acadêmicas e
            administrativas, o que permitiu que os dois novos programas se 
            configurassem de modo mais orgânico, específico e
            consistente.</p>
            <p>Durante os três anos subsequentes, o Colegiado trabalhou na 
            revisão da estrutura curricular, das linhas de pesquisa e das disciplinas,
            de modo a adequar o perfil acadêmico dos novos programas à formação e experiência 
            do corpo docente, bem como a contemplar as demandas de pesquisa e de formação do 
            magistério superior nacionais.</p>
            <p>Em 2007, a proposta de desmembramento foi aprovada nos três colegiados 
            em que atuava o Programa de Pós-Graduação em Letras da UFF: o do Centro de 
            Estudos Gerais, o do Instituto de Letras e o do próprio Programa. Apartir 
            das decisões favoráveis, as comissões internas responsáveis pelos dois 
            novos programas elaboraram o regimento, a proposta de decisão e toda a 
            grade curricular dos cursos de Estudos de Linguagem e Estudos de Literatura.
            Em 2008, a proposta foi aprovada nas duas instâncias máximas da UFF – o 
            Conselho de Ensino e Pesquisa e o Conselho Universitário. No início de 2009,
            os dois APCNs referentes aos novos cursos seguiram para a CAPES. A aprovação 
            dos novos cursos, ambos com nota 5 da Capes, ocorreu no final de outubro de 2009 e, em
            2010, passaram a funcionar efetivamente. Trata-se, portanto, da consolidação das 
            duas grandes áreas – Linguagem e Literatura, em termos de seu corpo docente e 
            discente, de linhas e projetos de pesquisa, de produção acadêmica e técnica,
            enfim, do crescimento e amadurecimento de um programa que, em 2010, completaria 
            40 anos de existência e projeção nacional e que segue agora desmembrado.</p>
            <p>Em nível de Mestrado, o Programa de Pós-Graduação em Estudos de Linguagem
            da UFF visa à formação de mestres, voltados para a pesquisa e para a docência
            no campo de estudos de linguagem, na área da Linguística, capazes de atuar 
            com competência prioritariamente na Região Sudeste e atender a outras 
            regiões do país, bem como de dar continuidade a sua formação acadêmica 
            em nível de pós-graduação.</p>
            <p>Em nível de Doutorado, o Programa de Pós-Graduação em Estudos de Linguagem
            visa à formação de doutores com autonomia e excelência na pesquisa científica
            e na docência do ensino superior, comprometidos com o fomento à capacidade
            de buscar diferentes fontes de informação e reflexão e à promoção da 
            produtividade intelectual para além dos limites da sala de aula e dos
            cursos básicos do currículo, na contínua expansão de saberes científicos
            no campo de estudos de linguagem, na área da Linguística.</p>
        </div>
    </div>
</div>
