<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <br>
        <br>
        <h1>Regimento Interno</h1>
        
    </div>
    <div class="container-fluid">
            
            <div class="col-md-10 cont-estatico-reg">
                <h3>PROGRAMA DE PÓS-GRADUAÇÃO EM ESTUDOS DE LINGUAGEM</h3>
                <br>
                <h4>PARTE I</h4>
                <h4>DAS DISPOSIÇÕES GERAIS</h4>
                <br>
                <h4>CAPÍTULO I</h4>
                <h4>DA ORGANIZAÇÃO DO PROGRAMA E SEUS OBJETIVOS</h4>
                <br>
                <p>Art. 1º- O Programa de Pós-graduação em Estudos 
                de Linguagem da Universidade Federal Fluminense, que funciona em
                consonância com o Regulamento Geral dos Cursos de Pós-graduação 
                stricto sensu, aprovado pela Resolução 37/2004 do Conselho de Ensino
                e Pesquisa, inclui os cursos de Mestrado e Doutorado, organizados
                academicamente em linhas de pesquisa.</p>
                <p>Art. 2º - São objetivos principais do Programa formar pessoal
                qualificado de alto nível profissional para o exercício de atividades
                de pesquisa e de magistério superior, bem como contribuir para o 
                avanço do conhecimento, no âmbito dos estudos de linguagem.</p>
                <br>
                <h4>CAPÍTULO II</h4>
                <h4>DAS CARACTERÍSTICAS DO PROGRAMA</h4>
                <br>
                <p>Art. 3º - A organização acadêmica do Programa, em sistema de 
                créditos, caracteriza-se por estrutura curricular flexível, quanto
                ao conteúdo, às disciplinas e às atividades acadêmicas.</p>
                <p>Art. 4º - O corpo docente do Programa é formado por professores
                doutores preferencialmente vinculados ao regime de dedicação exclusiva,
                credenciados nos termos do que prevêem os artigos 28 e 29 deste 
                Regimento, para atividades de ensino,pesquisa e orientação.</p>
                <p>Parágrafo único – Pelo menos 75% dos docentes do Programa deverão pertencer
                ao Quadro Permanente da UFF, em regime de Dedicação Exclusiva,
                conforme dispõe o § 2° do Art. 32 da Resolução n° 37/2004 do Conselho
                de Ensino e Pesquisa da UFF.</p>
                <p>Art. 5º - Os alunos do Programa, cujo ingresso se dá mediante
                processo de seleção ou transferência, realizam, a cada semestre 
                letivo, sob orientação docente, inscrição em disciplinas ou atividades
                acadêmicas previstas no currículo aprovado pelo Conselho de Ensino
                e Pesquisa.</p>
                <p>Art. 6º - O Programa tem direção colegiada, nos termos do que 
                estabelecem os artigos 17 e 20 deste Regulamento.</p>
                <br>
                <h4>CAPÍTULO III</h4>
                <h4>DA CRIAÇÃO E DO FUNCIONAMENTO</h4>
                <br>
                <p>Art. 7º - A proposta de criação de novos cursos dentro do Programa
                será apreciada pelo Colegiado, considerando a vinculação do respectivo
                projeto aos objetivos do Programa e às normas estabelecidas no 
                artigo 5º do Regulamento Geral dos Programas de Pós-Graduação stricto
                sensu da Universidade Federal Fluminense.
                <p>Parágrafo único - O oferecimento de cursos fora de sede deve 
                ser aprovado pelo Colegiado, considerando as normas estabelecidas
                pela CAPES, e encaminhado à Pró-Reitoria de Pesquisa e Pós-Graduação,
                para análise técnica e encaminhamento à CAPES, para autorização.</p>
                <p>Art. 8º - A carga horária total dos Cursos de Mestrado e de Doutorado
                é aquela prevista no currículo aprovado pelo Conselho de Ensino e Pesquisa.</p>
                <p>Art. 9º - A duração mínima e máxima dos Cursos é de, respectivamente,
                12 e 24 meses para o Mestrado e de, respectivamente, 24 e 48 meses
                para o Doutorado, além do período de trancamento a que o aluno tem 
                direito, conforme prevê o artigo 15 deste Regimento.</p>
                <p>Parágrafo único – Em casos excepcionais este limite de duração
                pode ser ultrapassado em um período letivo, mediante solicitação
                fundamentada do orientador do aluno ao Colegiado do Programa, que
                decide sobre a prorrogação.</p>
                <br>
                <h4>CAPÍTULO IV</h4>
                <h4>DA ADMISSÃO AO PROGRAMA</h4>
                <br>
                <h5>SEÇÃO I</h5>
                <h5>DAS EXIGÊNCIAS MÍNIMAS</h5>
                <br>
                <p>Art. 10 - O ingresso de alunos no Programa ocorre por meio de
                processo seletivo periódico - regulamentado em edital -, de 
                transferência ou de convênios internacionais.</p>
                <p>§ 1º - São exigências mínimas para submeter-se ao processo 
                seletivo para ingresso no Mestrado: ter concluído curso de graduação
                devidamente reconhecido pelo MEC; apresentar a documentação exigida
                no edital e cumprir as exigências explicitadas no edital.</p>
                <p>§ 2º - São exigências mínimas para submeter-se ao processo seletivo
                para ingresso no:Doutorado: ter concluído curso de Mestrado; apresentar
                a documentação exigida no edital e cumprir as exigências explicitadas
                no edital.</p>
                <p>§ 3º - O ingresso mediante transferência fica sujeito ao julgamento
                do Colegiado, considerando-se as exigências previstas nos parágrafos
                2º e 3º do artigo 12 deste Regimento.</p>
                <p>§ 4º - O ingresso por meio de convênios internacionais seguirá
                as normas da agência de fomento ou das instituições envolvidas.</p>
                <br>
                <h5>SEÇÃO II</h5>   
                <h5>DA SELEÇÃO</h5>
                <br>
                <p>Art. 11 – O ingresso no Programa por meio de processo seletivo 
                público é regulamentado por edital que estabelece a documentação 
                necessária e as qualificações específicas exigidas do candidato,
                bem como o número de vagas por linha de pesquisa no caso de Mestrado,
                e por orientador, no caso de Doutorado, discriminadas em separado 
                para candidatos nacionais e estrangeiros, se o Colegiado assim julgar
                conveniente, além de cronograma e critérios de avaliação.</p>
                <p>§1º - Para o Mestrado, a seleção consta das seguintes etapas:
                prova escrita ou monografia, de caráter eliminatório, sobre assunto
                específico da área; os candidatos aprovados na primeira etapa fazem
                prova eliminatória de língua estrangeira instrumental, na segunda etapa;
                há ainda a possibilidade de uma terceira etapa, classificatória, 
                em que os candidatos aprovados nas duas etapas anteriores são submetidos,
                se assim estiver previsto em edital, a exame de pré-projeto, entrevista
                e análise de curriculum vitae.</p>
                <p>§2º - Para o Doutorado, a seleção é feita em três etapas. 
                A primeira, de caráter eliminatório, consta de prova escrita em 
                que o candidato demonstre, em texto dissertativo, capacidade de 
                reflexão crítica a respeito de temas definidos em edital. O candidato
                aprovado na primeira etapa é submetido, também em caráter eliminatório,
                à prova de língua estrangeira instrumental diferente daquela em 
                que tiver sido aprovado no processo seletivo de ingresso ao mestrado.
                Na terceira etapa, de caráter classificatório, o candidato é 
                submetido a entrevista com o orientador indicado sobre anteprojeto
                de tese e análise de curriculum vitae.</p>
                <p>§3º - O edital deve ser aprovado pelo Colegiado, num prazo 
                mínimo de três meses antes do início do processo seletivo, e 
                encaminhado à Pró-Reitoria de Pesquisa e Pós-Graduação para 
                homologação e publicação.</p>
                <br>
                <h5>SEÇÃO III</h5>
                <h5>DA MATRÍCULA</h5>
                <br>
                <p>Art. 12 – Para ser matriculado, o candidato deve ter sido aprovado
                e classificado no processo seletivo, ter ingressado por transferência
                ou convênio internacional.</p>
                <p>§1º - A matrícula dos alunos aprovados no processo seletivo é 
                feita de acordo com calendário divulgado pelo Programa.</p>
                <p>§2º - A transferência é requerida à coordenação do Programa, 
                ficando sujeita à existência de vaga na linha de pesquisa pretendida,
                à aceitação de um professor orientador e à aprovação do Colegiado.</p>
                <p>§3º - O candidato à transferência deve apresentar relativa ao 
                curso de origem, que comprove ser o Programa credenciado pela CAPES.</p>
                <p>§4º - O aproveitamento de estudos do aluno transferido é feito
                de acordo com o disposto no parágrafo 1º do artigo 31 deste Regimento.</p>
                <p>Art. 13 – Toda vez que se concluir o processo seletivo, ou que
                se aprovar o ingresso por transferência ou por convênio internacional,
                a secretaria do Programa fará a inclusão dos novos alunos no sistema
                de processamento acadêmico correspondente.</p>
                <p>Parágrafo único – Ao final de cada processo seletivo, o Coordenador
                encaminhará à Pró-Reitoria de Pesquisa e Pós-Graduação a ata de seleção,
                com o número de candidatos inscritos, os nomes dos candidatos aprovados
                e a documentação correspondente, bem como os números de matrículas gerados.</p>
                <br>
                <h5>SEÇÃO IV</h5>
                <h5>DA INSCRIÇÃO EM DISCIPLINAS</h5>
                <br>
                <p>Art. 14 – A cada período letivo, os alunos procedem à inscrição
                em disciplinas ou outras atividades acadêmicas, conforme calendário
                divulgado pelo Programa.</p>
                <p>§1º - Podem ser aceitas inscrições avulsas de graduados para o
                Mestrado, em até duas disciplinas, e de mestres para o Doutorado,
                em uma disciplina, de acordo com critérios definidos pelo Colegiado.</p>
                <p>§2º - O aluno que não efetuar a inscrição em disciplinas por um
                semestre será considerado em regime de trancamento automático de
                matrícula.</p>
                <br>
                <h4>CAPÍTULO V</h4>
                <h4>DO TRANCAMENTO E DO CANCELAMENTO</h4>
                <br>
                <p>Art. 15 – O aluno pode requerer trancamento de matrícula ao 
                coordenador do Programa, no período fixado no calendário escolar
                da Universidade, ou entrar em regime de trancamento automático, 
                quando não se inscrever em disciplinas e/ou atividades acadêmicas
                no período divulgado pelo Programa.</p>
                <p>Parágrafo único – O aluno poderá permanecer em trancamento por,
                no máximo, um período letivo.</p>
                <p>Art. 16 – O aluno terá sua matrícula cancelada quando:</p>
                <p align=left><strong>a)</strong>esgotar o prazo máximo fixado para a 
                integralização do curso, conforme o previsto no artigo 9 deste 
                Regimento;</p>
                <p align=left><strong>b)</strong>for reprovado duas vezes em disciplinas ou
                atividades acadêmicas;</p>
                <p align=left><strong>c)</strong>não proceder pela segunda vez, consecutiva
                ou não, à inscrição em disciplinas ou atividades acadêmicas.</p>
                <br>
                <h4>PARTE II</h4>
                <h4>DAS DISPOSIÇÕES ESPECÍFICAS</h4>
                <br>
                <h4>CAPÍTULO I</h4>
                <h4>DA ORGANIZAÇÃO ACADÊMICO-ADMINISTRATIVA</h4>
                <br>
                <h5>SEÇÃO I</h5>
                <h5>DO COLEGIADO DO PROGRAMA</h5>
                <br>
                <p>Art. 17 – O Colegiado do Programa é constituído pelos professores
                credenciados nos termos dos artigos 28 e 29 deste Regimento e por
                uma representação discente correspondente a 1/5 de seus membros 
                docentes.</p>
                <p>§1º - Os representantes discentes são escolhidos, mediante 
                eleição, pelos alunos inscritos no período letivo em curso e têm
                mandato de 1 um ano.</p>
                <p>§2º - Podem candidatar-se a representante discente os alunos 
                que estejam regularmente inscritos no período letivo em que se 
                processa a eleição.</p>
                <p>Art.18 – Cabe ao Colegiado do Programa:</p>
                <p><strong>a)</strong>propor o Regimento específico do Programa 
                e suas alterações;</p>
                <p><strong>b)</strong>aprovar o currículo dos cursos ministrados 
                pelo Programa e suas alterações;</p>
                <p><strong>c)</strong>definir critérios e mecanismos para credenciamento,
                recredenciamento e descredenciamento de  professores;</p>
                <p><strong>d)</strong>indicar à Pró-Reitoria de Pesquisa e Pós-Graduação,
                para credenciamento, os professores que integrarão o corpo docente
                do Programa;</p>
                <p><strong>e)</strong>aprovar a programação acadêmica dos cursos 
                ministrados pelo Programa;</p>
                <p><strong>f)</strong>aprovar os planos de aplicação de recursos
                postos à disposição do Programa pela Universidade ou por agências
                de fomento;</p>
                <p><strong>g)</strong>propor e aprovar projetos de convênio com 
                instituições culturais, de ensino e de pesquisa, observada a tramitação
                estatutária regulamentar;</p>
                <p><strong>h)</strong>aprovar editais de seleção para ingresso de
                alunos ao Programa, propostos pelo coordenador, após ouvidas as 
                linhas de pesquisa;</p>
                <p><strong>i)</strong>aprovar a constituição das bancas examinadoras
                dos processos seletivos, indicadas pelas linhas de pesquisa;</p>
                <p><strong>j)</strong>homologar os relatórios das bancas dos 
                processos seletivos;</p>
                <p><strong>l)</strong>decidir sobre aproveitamento de estudos,
                observado o disposto no artigo 31 deste Regimento;</p>
                <p><strong>m)</strong>decidir sobre passagem direta de aluno do 
                Mestrado para o Doutorado, nos termos do artigo 32 deste Regimento;</p>
                <p><strong>n)</strong>homologar os nomes dos orientadores e co-orientadores
                de dissertações de mestrado e teses de doutorado;</p>
                <p><strong>o)</strong>autorizar mudança de orientador, de acordo~
                com o que prevê o parágrafo 4º do artigo 38 deste Regimento;</p>
                <p><strong>p)</strong>aprovar a composição das comissões examinadoras
                de dissertações e teses indicadas pelos orientadores;</p>
                <p><strong>q)</strong>aprovar as comissões encarregadas de examinar
                processos de validação e revalidação de diplomas indicadas pelo 
                coordenador do Programa, bem como os pareceres formulados por tais
                comissões;</p>
                <p><strong>r)</strong>homologar os pareceres relativos à avaliação
                de projetos de dissertação de mestrado e a exames de qualificação
                de doutorado;</p>
                <p><strong>s)</strong>decidir sobre prorrogação de prazo de integralização
                dos cursos, em casos excepcionais, a partir de requerimento fundamentado
                do orientador do aluno, de acordo com o previsto no parágrafo único
                do artigo 9º;</p>
                <p><strong>t)</strong>conceder prazo para reelaboração de dissertação
                ou tese, de acordo com o que prevê o parágrafo 3º do artigo 41 deste
                Regimento.</p>
                <p><strong>u)</strong>deliberar sobre projeto de criação de novos
                cursos, sobre oferecimento de cursos fora de sede e sobre abertura
                e/ou modificação de linhas de pesquisa;</p>
                <p><strong>v)</strong>julgar recursos interpostos a decisões do 
                coordenador do Programa, nos termos previstos no parágrafo único 
                do artigo 22 deste Regimento.</p>
                <p>Parágrafo único: o Colegiado adotará o procedimento da votação
                secreta sempre que um de seus membros o solicitar e o plenário aprovar.</p>
                <p>Art. 19 – O Colegiado tem uma reunião ordinária mensal, convocada
                pelo coordenador com antecedência mínima de cinco dias úteis.</p>
                <p>§1º - O Colegiado pode ser convocado extraordinariamente pelo
                coordenador ou por requerimento da maioria simples de seus membros,
                com antecedência mínima de dois dias úteis.</p>
                <p>§2º - O quórum mínimo para votação de decisões do Colegiado é
                de metade mais um do número de seus membros.</p>
                <br>
                <h5>SEÇÃO II</h5>
                <h5>DA COORDENAÇÃO DO PROGRAMA</h5>
                <br>
                <p>Art. 20 – O Programa é administrado por uma Coordenação, instância
                executiva das decisões emanadas do Colegiado.</p>
                <p>Art. 21 – A Coordenação é exercida por um coordenador e um 
                subcoordenador escolhidos dentre os membros do Colegiado e pertencentes
                ao quadro permanente da Universidade.</p>
                <p>§1º - O coordenador e o subcoordenador têm mandato de quatro anos,
                permitida uma recondução.</p>
                <p>§2º - O coordenador e o subcoordenador são eleitos por consulta
                realizada na forma definida no Regulamento Geral das Consultas 
                Eleitorais da Universidade e nomeados pelo Reitor.</p>
                <p>§3º - O coordenador e o subcoordenador devem, preferencialmente,
                representar linhas de pesquisa diferentes.</p>
                <p>§4º - Cada linha de pesquisa indica um representante que, com
                mandato de dois anos, permitida a recondução, auxilia o coordenador
                e o subcoordenador na coordenação das atividades acadêmicas.</p>
                <p>Art. 22 – Cabe ao coordenador:</p>
                <p><strong>a)</strong>convocar e presidir as reuniões do Colegiado;</p>
                <p><strong>b)</strong>coordenar as atividades acadêmicas e dirigir
                as atividades administrativas do Programa;</p>
                <p><strong>c)</strong>elaborar a programação acadêmica do Programa,
                ouvidas as linhas de pesquisa, submetendo-a à apreciação do Colegiado;</p>
                <p><strong>d)</strong>propor os planos de aplicação de recursos, 
                ouvidas as linhas de pesquisa, submetendo-os à apreciação do Colegiado;</p>
                <p><strong>e)</strong>elaborar os editais de seleção, ouvidas as
                linhas de pesquisa, encaminhando-os ao Colegiado;</p>
                <p><strong>f)</strong>indicar ao Colegiado as bancas dos processos
                seletivos, ouvidas as linhas de pesquisa;</p>
                <p><strong>g)</strong>indicar comissão encarregada de analisar e
                dar parecer nos processos de validação e revalidação de diplomas
                obtidos em instituições estrangeiras, conforme Resolução do Conselho
                de Ensino e Pesquisa sobre a matéria;</p>
                <p><strong>h)</strong>delegar competência para a execução de tarefas
                específicas;</p>
                <p><strong>i)</strong>decidir ad referendum assuntos urgentes da
                competência do Colegiado.</p>
                <p>Parágrafo único – Das decisões do coordenador cabe interposição
                de recurso, a ser apresentado num prazo máximo de cinco dias a 
                contar da data de ciência do interessado.</p>
                <br>
                <p>Art. 23 – Caberá ao subcoordenador substituir o coordenador em
                suas faltas e impedimentos e sucedê-lo definitivamente, se o 
                afastamento se der após decorrida mais da metade do mandato.</p>
                <p>§1º - Se o afastamento ou impedimento do coordenador se der 
                no decorrer da primeira metade de seu mandato, o subcoordenador 
                assumirá a Coordenação do Programa e terá o prazo de 60 dias para
                convocar o Colegiado, a fim de proceder a novo processo eleitoral,
                para a indicação do coordenador.</p>
                <p>§2º - Nas faltas e impedimentos do coordenador e do subcoordenador,
                assumirá a Coordenação o decano do Colegiado.</p>
                <p>§3º - O decano, ao assumir a Coordenação do Programa no caso 
                do afastamento definitivo do coordenador e do subcoordenador, terá
                o prazo de 60 dias para convocar o Colegiado para o processo 
                eleitoral de escolha do coordenador.</p>
                <br>
                <h5>SEÇÃO III</h5>
                <h5>DA SECRETARIA</h5>
                <br>
                <p>Art. 24 – A Coordenação do Programa tem uma secretaria, a ela
                subordinada, órgão executivo dos serviços técnicos e administrativos,
                dirigida por um chefe de Secretaria, com atribuições definidas em
                Norma de Serviço.</p>
                <br>
                <h4>CAPÍTULO II</h4>
                <h4>DOS CURRÍCULOS</h4>
                <br>
                <p>Art. 25 – O currículo do Curso de Mestrado em Estudos de Linguagem,
                aprovado pelo Conselho de Ensino e Pesquisa, compõe-se de disciplinas
                teóricas, Atividades Supervisionadas, projeto de dissertação e 
                dissertação.</p>
                <p>Art. 26 – O currículo do Curso de Doutorado em Estudos de Linguagem,
                aprovado pelo Conselho de Ensino e Pesquisa, compõe-se de disciplinas
                teóricas, Atividades Supervisionadas, Pesquisa Orientada, exame de 
                qualificação e tese.</p>
                <br>
                <h4>CAPÍTULO III</h4>
                <h4>DA PROGRAMAÇÃO PERIÓDICA DOS CURSOS</h4>
                <br>
                <p>Art. 27 – O Programa tem uma programação periódica anual, de 
                que constam a previsão de oferecimento de disciplinas, com ementas,
                programas e bibliografias, e o planejamento das demais atividades 
                acadêmicas.</p>
                <br>
                <h4>CAPÍTULO IV</h4>
                <h4>DO CORPO DOCENTE</h4>
                <br>
                <p>Art. 28 – O corpo docente do Programa é constituído por professores
                indicados pelo Colegiado e credenciados pela Pró-reitoria de Pesquisa
                e Pós-graduação, devendo, no mínimo, 75% (setenta e cinco por cento)
                dos docentes pertencer ao quadro permanente da Universidade.</p>
                <p>§ 1º - Para solicitar credenciamento, que lhe permite atuação
                inicial no curso de Mestrado, o docente deve ter título de doutor,
                experiência de no mínimo três anos em ensino de graduação, que inclua,
                de preferência, atividades de orientação de alunos, e produção 
                científica adequada aos padrões exigidos pela CAPES, compatível
                com a linha de pesquisa em que deseja atuar, nos termos definidos
                em decisão do Colegiado.</p>
                <p>§ 2º - Para orientar e ministrar cursos no Doutorado, o professor
                deve ter orientado pelo menos um mestre e apresentar produção científica
                compatível, nos termos previstos em decisão do Colegiado.</p>
                <p>Art. 29 - O credenciamento tem validade de três anos, ao fim 
                dos quais o docente é recredenciado ou não, após análise dos 
                indicadores da produção docente, nos termos estabelecidos em decisão
                do Colegiado.</p>
                <br>
                <h4>CAPÍTULO V</h4>
                <h4>DO REGIME ESCOLAR</h4>
                <br>
                <h5>SEÇÃO I</h5>
                <h5>DO APROVEITAMENTO ESCOLAR E DE ESTUDOS</h5>
                <br>
                <p>Art. 30 – Os critérios de aferição do rendimento escolar são 
                traduzidos por freqüência e atribuição de notas, numa escala de 
                0(zero) a 10 (dez).</p>
                <p>§ 1º - A freqüência para aprovação em disciplinas e atividades
                acadêmicas deve ser igual ou superior a 75%.</p>
                <p>§ 2º - A nota mínima para aprovação em disciplinas e 
                acadêmicas é 6 (seis).</p>
                <p>Art. 31 – Podem ser aceitos, a critério do Colegiado, os créditos
                obtidos em disciplinas ou atividades acadêmicas equivalentes às 
                do Programa, excluídos aqueles referentes ao trabalho final</p>
                <p>§ 1º - Por solicitação do aluno e decisão do Colegiado, pode 
                ser aproveitado até 1/3 (um terço) do total dos créditos do Programa,
                no caso de disciplinas ou atividades cursadas em outros Programas 
                de Pós-graduação credenciados pela CAPES no momento da obtenção 
                dos créditos pelo aluno requerente.</p>
                <p>§ 2º - O limite de 1/3 mencionado no parágrafo anterior pode 
                ser ultrapassado se os créditos tiverem sido obtidos no próprio 
                Programa, a critério do Colegiado.</p>
                <p>Art. 32 - O aluno matriculado no curso de Mestrado pode passar
                diretamente para o Doutorado, mediante solicitação fundamentada 
                do professor-orientador ao Colegiado, que indicará uma banca 
                examinadora para avaliar o aluno e aprovará o parecer por ela 
                emitido.</p>
                <p>§ 1º - A solicitação do professor orientador deve ser fundamentada
                em critérios acadêmicos, destacando a qualidade e a relevância do
                trabalho desenvolvido pelo aluno.</p>
                <p>§ 2° - A banca examinadora será integrada pelo orientador, um
                membro do Programa e um membro externo.</p>
                <p>§ 3° - O aluno que passar diretamente para o Doutorado deverá
                integralizar o currículo e atender às demais exigências regimentais
                do Curso de Doutorado, nos prazos estabelecidos neste Regulamento.</p>
                <p>§ 4° - Os mestrandos bolsistas CAPES, para obterem promoção 
                direta ao Doutorado, devem submeter-se às exigências da Portaria
                077/2006 dessa agência.</p>
                <p>§ 5º - O não cumprimento dos prazos estabelecidos neste Regulamento
                submete o aluno ao previsto no art. 16 alínea a, deste Regulamento,
                com fins de cancelamento de matrícula.</p>
                <br>
                <h4>CAPÍTULO VI</h4>
                <h4>DA CONCESSÃO DE TÍTULOS</h4>
                <br>
                <h5>SEÇÃO I</h5>
                <h5>DAS EXIGÊNCIAS</h5>
                <br>
                <p>Art. 33 – O título de Mestre ou de Doutor em Estudos de Linguagem
                será concedido ao aluno que cumprir a integralização do currículo
                e obtiver aprovação de um trabalho final, além de ter demonstrado
                conhecimento de uma língua estrangeira, no caso de Mestrado, e duas,
                no caso de Doutorado.</p>
                <p>Parágrafo único – A integralização curricular sem apresentação
                e aprovação de trabalho final poderá dar direito ao certificado
                de Especialização em Letras, de acordo com o que prevê o parágrafo
                único do art. 36 do Regulamento Geral dos cursos de Pós-graduação 
                stricto sensu.</p>
                <p>Art. 34 – O aluno de Mestrado submeterá a uma banca examinadora,
                constituída pelo professor-orientador e mais dois professores, até
                o início do terceiro período letivo, um projeto de dissertação, 
                do qual deverão constar apresentação e justificativa, objetivos,
                metodologia, sumário, cronograma e bibliografia.</p>
                <p>§ 1º - A comissão examinadora argüirá o aluno, apresentando-lhe
                sugestões de encaminhamento e de bibliografia, e sugerir as correções
                necessárias, a fim de colaborar na preparação da dissertação.</p>
                <p>§ 2º - Após a argüição, a comissão decidirá pela aprovação ou
                não do projeto, emitindo parecer fundamentado a ser encaminhado 
                ao Colegiado, para aprovação.</p>
                <p>§ 3º - Caso o aluno não tenha seu projeto aprovado, terá até 
                dois meses para reformulá-lo e reapresentá-lo, submetendo-o a novo
                julgamento, no qual a reprovação acarretará o desligamento do Programa.</p>
                <p>Art. 35 – O aluno do curso de Doutorado é submetido a um exame 
                de qualificação, no quarto período letivo do curso, em que apresentará
                a uma banca, constituída pelo professor-orientador e mais dois professores,
                o projeto de tese consolidado e um trabalho que demonstre os avanços
                em relação à tese, seja sob a forma de capítulos redigidos, seja
                sob a forma de análise de corpus, seja sob a forma de levantamento
                e análise de dados, em qualquer dos casos devendo constar do trabalho
                a explicitação da base teórica e metodológica de apoio.</p>
                <p>§ 1º - A comissão examinadora argüirá o aluno, apresentando-lhe
                sugestões de encaminhamento e de bibliografia, bem como as correções
                necessárias, a fim de colaborar na preparação da tese.</p>
                <p>§ 2º - Após a argüição, a comissão decidirá pela aprovação ou
                não do candidato, emitindo parecer fundamentado a ser encaminhado
                ao Colegiado, para aprovação.</p>
                <p>§ 3º - Caso o aluno não seja aprovado no exame de qualificação,
                terá até três meses para reformular o trabalho e reapresentá-lo,
                submetendo-o a novo exame, no qual a reprovação acarretará o desligamento
                do Programa.</p>
                <br>
                <h5>SEÇÃO II</h5>
                <h5>DO TRABALHO FINAL</h5>
                <br>
                <p>Art. 36 – Para a obtenção do grau de Mestre, o aluno, após cumprir
                todos os demais créditos do curso, apresentará um trabalho final,
                sob a forma de dissertação, em que demonstre domínio do tema escolhido,
                atualização bibliográfica e capacidade de sistematização.</p>
                <p>Art. 37 – Para a obtenção do grau de Doutor, o aluno, após cumprir
                todos os demais créditos do curso, deve apresentar um trabalho final,
                sob a forma de tese que represente trabalho original de pesquisa e
                real contribuição para os estudos de linguagem.</p>
                <p>Art. 38 – Para a elaboração do trabalho final, o aluno terá a
                orientação de um professor-orientador.</p>
                <p>§ 1º - No caso do Mestrado, o aluno indicará, no segundo período
                letivo, um orientador, cujo nome será homologado pelo Colegiado.</p>
                <p>§ 2º - No caso do Doutorado, o aluno só pode ingressar no Programa
                com um orientador, ao qual terá submetido seu anteprojeto durante o processo seletivo.</p>
                <p>§ 3º - O aluno pode solicitar, de comum acordo com seu orientador,
                um co-orientador, cujo nome também deverá ser aprovado pelo Colegiado.</p>
                <p>§ 4º - O aluno pode solicitar mudança de professor-orientador,
                mediante requerimento fundamentado ao Colegiado do Programa, que
                examinará a solicitação e emitirá decisão.</p>
                <p>§ 5º - O professor-orientador pode solicitar interrupção dos 
                trabalhos de orientação de aluno, mediante requerimento fundamentado
                ao Colegiado, que examinará a solicitação e emitirá decisão.</p>
                <p>Art. 39 – Cada professor pode orientar até 10 trabalhos finais,
                simultaneamente.</p>
                <p>Parágrafo único – Em casos excepcionais, este limite pode ser
                ultrapassado, mediante solicitação fundamentada do professor-orientador,
                por decisão do Colegiado.</p>
                <p>Art .40 – Os trabalhos finais devem ser julgados por comissão
                examinadora, constituída por professores doutores ou com titulação equivalente.</p>
                <p>§ 1º - No caso do Mestrado, a comissão deve ser constituída pelo
                orientador e por dois membros efetivos, sendo um deles de outra 
                instituição de ensino superior ou centro de pesquisa, além de dois
                suplentes, sendo um do Programa e outro externo.</p>
                <p>§ 2º - No caso do Doutorado, a comissão deve ser constituída 
                pelo orientador e por quatro membros efetivos, sendo dois deles 
                de outra instituição de ensino superior ou centro de pesquisa, 
                além de dois suplentes, sendo um do Programa e outro externo.</p>
                <p>Art. 41 – A comissão examinadora, pela maioria de seus membros,
                indicará a aprovação ou não do trabalho final, mediante parecer fundamentado.</p>
                <p>§ 1º - A argüição e a defesa do trabalho final serão realizadas
                em sessão pública.</p>
                <p>§ 2º - Após a defesa, o aluno aprovado terá o prazo máximo de
                até 60 dias para entregar à secretaria do Programa três exemplares
                impressos e uma cópia digitalizada da versão final do trabalho, 
                que deverá considerar as sugestões e recomendações da banca.</p>
                <p>§ 3º - A comissão examinadora poderá, no parecer fundamentado,
                exigir modificações e estipular prazo para a reapresentação do 
                trabalho final, observados os limites do tempo máximo concedido 
                ao aluno para a conclusão do curso, nos termos deste Regimento.</p>
                <p>§ 4º - O aluno que não obtiver aprovação poderá solicitar ao 
                Colegiado, mediante requerimento fundamentado, prazo para a reelaboração
                do trabalho e sua reapresentação, observados os limites de tempo
                estabelecidos para a conclusão do curso, nos termos deste Regimento.</p>
                <br>
                <h5>SEÇÃO III</h5>
                <h5>DA CONCESSÃO DE GRAU</h5>
                <br>
                <p>Art. 42 - Após cumpridas todas as formalidades necessárias à 
                conclusão do Curso, o aluno deverá requerer a expedição do diploma,
                no órgão competente, conforme regulamentação da Pró-reitoria de 
                Pesquisa e Pós-graduação.</p>
                <p>Parágrafo único - A Pró-Reitoria de Pesquisa e Pós-Graduação,
                depois de verificar o cumprimento da legislação vigente, emitirá
                parecer técnico e encaminhará o processo à Pró-Reitoria de Assuntos
                Acadêmicos, para emissão e registro do diploma.</p>
                <br>
                <h4>PARTE III</h4>
                <h4>DAS DISPOSIÇÕES TRANSITÓRIAS E FINAIS</h4>
                <br>
                <p>Art. 43 – Os casos omissos neste Regimento serão decididos pelo
                Colegiado, respeitando-se os termos do Regulamento Geral dos Cursos
                de Pós-graduação stricto sensu da Universidade.</p>
                <p>Art. 45 – Este Regimento entra em vigor na data de sua aprovação
                pelo Conselho de Ensino e Pesquisa.</p>
                <br>
                <p>MEC – UNIVERSIDADE FEDERAL FLUMINENSE <br>CONSELHO DE ENSINO E PESQUISA</p>
                <br>
                <p>RESOLUÇÃO Nº</p>
                <br>
                <p>EMENTA: Estabelece o currículo do Programa de Pós-Graduação<br> 
                em Estudos de Linguagem, Nível de Mestrado e Doutorado.</p>
                <br>
                <br>
                <p>O CONSELHO DE ENSINO E PESQUISA da UNIVERSIDADE FEDERAL FLUMINENSE,
                no uso de suas atribuições e considerando o que consta no processo nº</p>
                <p>RESOLVE:</p>
                <p>Art. 1º - O currículo do Programa de Pós-Graduação em Estudos
                de Linguagem, nível de mestrado e doutorado,compreende as disciplinas,
                créditos e carga horária abaixo relacionados.</p>
                <br>
                <br>
                <p><strong>Materias obligatorias del núcleo general</strong></p>
                <table>
                <tr>
                <th rowspan="2">Matérias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Fundamentos teórico-metodológicos de los</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>estudios en lenguaje</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Actividades supervisadas</td>
                <td>GCL, GLC, GLE</td>
                <td> </td>
                <td>2</td>
                <td> </td>
                <td>90</td>
                </tr>
                <tr>
                <td>Investigación orientada</td>
                <td>GCL, GLC, GLE</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>180</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Materias electivas en Áreas Específicas</strong></p>
                <p><strong>Línea de Investigación 1 - Teoría y Análisis Lingüístico
                </strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Matérias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Aspectos semántico-pragmáticos del lenguaje</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Estudios en gramática</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Lengua en uso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Lenguaje y Cognición</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Línea de investigación 2 - Teorías del texto, del discurso y 
                de la interacción</strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Matérias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Análisis del discurso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Análisis interactivo del discurso</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Semiolingüística</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Semiótica</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p><strong>Línea de investigación 3 - Historia, política y contacto
                lingüístico</strong></p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Matérias</th>
                <th rowspan="2">Órganos vinculados a la materia.</th>
                <th colspan="3">Créditos (*)</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                </tr>
                <tr>
                <td>Contacto de lenguas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Historia de las ideas lingüísticas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Historiografía de la lingüística</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                <tr>
                <td>Políticas lingüísticas</td>
                <td>GCL, GLC, GLE</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>60</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art. 2º - No Mestrado, o aluno deverá cursar as duas disciplinas
                obrigatórias do Núcleo Comum: Fundamentos teórico-metodológicos 
                dos estudos em linguagem e Atividades supervisionadas e três disciplinas
                dos Domínios Específicos, sendo uma obrigatoriamente de sua Linha 
                de Pesquisa.</p>
                <p>Art. 3º - No Mestrado, este currículo é complementado pela defesa
                de um projeto de dissertação, a qual serão atribuídos 2 créditos
                de trabalho orientado, correspondentes a 90 (noventa) horas/aula,
                bem como por uma dissertação, seguida de argüição por banca examinadora,
                a qual serão atribuídos 8 créditos de trabalho orientado, correspondentes
                a 360 (trezentas e sessenta) horas/aula. Deverá ser cumprido num
                tempo útil de 780 (setecentas e oitenta) horas/aula, correspondentes
                a 28 (vinte e oito)créditos, compreendendo as seguintes atividades:</p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Actividades</th>
                <th colspan="4">Actividades</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                <th>Total</th>
                </tr>
                <tr>
                <td>2 Materias Obligatorias</td>
                <td>4</td>
                <td>2</td>
                <td> </td>
                <td>6</td>
                <td>150</td>
                </tr>
                <tr>
                <td>1 Materia optativa de la Línea de Investigación correspondiente
                al Proyecto de Investigación</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>60</td>
                </tr>
                <tr>
                <td>2 Materias electivas que serán cursadas de entre las ofrecidas
                por los Programas de Posgrado de El Grande Río, reconocidos por CAPES.</td>
                <td>8</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>120</td>
                </tr>
                <tr>
                <td>Proyecto de Disertación</td>
                <td> </td>
                <td> </td>
                <td>2</td>
                <td>2</td>
                <td>90</td>
                </tr>
                <tr>
                <td>Disertación</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>8</td>
                <td>360</td>
                </tr>
                <tr>
                <td>Total</td>
                <td>16</td>
                <td>2</td>
                <td>10</td>
                <td>28</td>
                <td>780</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art. 4º - No Doutorado, o aluno deverá cursar duas disciplinas
                obrigatórias de Atividades supervisionadas e uma de Pesquisa orientada,
                ambas do Núcleo Comum, e três disciplinas dos Domínios Específicos,
                obrigatoriamente uma de sua Linha de Pesquisa. No Doutorado, a 
                disciplina Fundamentos teórico-metodológicos dos estudos em linguagem
                pode ser cursada como optativa.</p>
                <p>Art. 5º - - No Doutorado, este currículo é complementado pela 
                defesa de um exame de qualificação, a qual serão atribuídos 6 
                créditos de trabalho orientado, correspondentes a 270 (duzentas e setenta)
                horas/aula, bem como por uma tese, seguida de argüição por banca
                examinadora, a qual serão atribuídos 16 créditos de trabalho orientado,
                correspondentes a 720 (setecentas e vinte) horas/aula. Deverá ser
                cumprido num tempo útil de 1530 (mil quinhentas e trinta) horas/aula,
                correspondentes a 48(quarenta e oito)créditos, compreendendo as 
                seguintes atividades:</p>
                <br>
                <br>
                <table>
                <tr>
                <th rowspan="2">Actividades</th>
                <th colspan="4">Actividades</th>
                <th rowspan="2">Carga Horaria</th>
                </tr>
                <tr>
                <th>T (Teoría)</th>
                <th>P o TP(Práctico o Teórico-Práctico)</th>
                <th>ES o TO(Pasantía supervisada o Trabajo Orientado)</th>
                <th>Total</th>
                </tr>
                <tr>
                <td>3 Materias obligatorias</td>
                <td>4</td>
                <td>4</td>
                <td> </td>
                <td>8</td>
                <td>360</td>
                </tr>
                <tr>
                <td>1 Materia optativa de la Línea de Investigación correspondiente
                al Proyecto de Investigación</td>
                <td>4</td>
                <td> </td>
                <td> </td>
                <td>4</td>
                <td>60</td>
                </tr>
                <tr>
                <td>2 Materias electivas que serán cursadas de entre las ofrecidas
                por los Programas de Posgrado de El Grande Río, reconocidos por CAPES</td>
                <td>8</td>
                <td> </td>
                <td> </td>
                <td>8</td>
                <td>120</td>
                </tr>
                <tr>
                <td>Examen clasificatorio</td>
                <td> </td>
                <td> </td>
                <td>6</td>
                <td>6</td>
                <td>270</td>
                </tr>
                <tr>
                <td>Tesis</td>
                <td> </td>
                <td> </td>
                <td>16</td>
                <td>16</td>
                <td>720</td>
                </tr>
                <tr>
                <td>Total</td>
                <td>16</td>
                <td>4</td>
                <td>22</td>
                <td>42</td>
                <td>1530</td>
                </tr>
                </table>
                <br>
                <br>
                <p>Art 6º - Os Cursos terão a seguinte duração, em meses:</p>
                <br>
                <p>No Mestrado:</p>
                <p><strong>a)</strong>mínima: 12 (doze) meses</p>
                <p><strong>b)</strong>máxima: 30 (trinta) meses</p>
                <br>
                <p>No Doutorado:</p>
                <p><strong>a)</strong>mínima: 24 (vinte e quatro) meses</p>
                <p><strong>b)</strong>máxima: 54 (cinqüenta e quatro) meses</p>
                <br>
                <p>§ 1º Na duração máxima está incluído o período de trancamento
                ao qual os alunos têm direito.</p>
                <br>
                <p>§ 2º Em caso de dificuldade de realização do trabalho final em
                tempo útil, o prazo máximo estabelecido por este artigo para conclusão
                do curso poderá ser excepcionalmente prorrogado por mais 1 (um) 
                semestre letivo, conforme prescreve o Regulamento do Curso.</p>
                <p>Art. 7º A presente Resolução entrará em vigor na data de sua 
                aprovação por este Conselho.</p>
                <br>
                <br>
                </div>
    </div>
</div>